---
import { DefaultLayout } from "@/ui/layouts";

import { TopStories, ArticleList } from "@/ui/components";
---

<DefaultLayout>
  <div class="container">
    <h1>Page not found</h1>
    <p>Sorry, that page is unavailable</p>

    <div class="content-container">
      <div class="latest">
        <h2>Recent Articles</h2>

        <ArticleList limit={4} itemsPerRow={2} theme="dark" featured={true} />
      </div>
      <div class="sidebar">
        <h2>Top Articles</h2>
        <TopStories />
      </div>
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  .container {
    margin: 25vh auto 0;
    background-color: var(--colorThemeBackgroundMain);
    color: var(--colorThemeTextMain);
    max-width: var(--widthMainContainer);

    @media screen and (max-width: 750px) {
      padding: 2.5rem 0;
    }
  }

  h1 {
    font-size: var(--fontSizeHero);
    text-align: center;
  }

  h2 {
    font-size: var(--fontSizeContentHeadingThree);
    margin: 0 0 1rem;
  }

  p {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }

  .content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 25vh;
    border-top: 1px solid var(--colorThemeTextMain);

    @media screen and (max-width: 79rem) {
      margin-right: 2rem;
      margin-left: 2rem;
      width: calc(100% - 4rem);
      gap: 1rem;
    }

    @media screen and (max-width: 62rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .latest {
    grid-column: span 2;
    margin-top: 2rem;

    h2 {
      margin-bottom: -1rem;
    }
  }

  .sidebar {
    margin-top: 2rem;
  }
</style>
