---
import { getListBookReviews } from "@/ui/queries";
import { DefaultLayout } from "@/ui/layouts";
import { Seo, Sidebar, ReadingList } from "@/ui/components";
import type { BookReview } from "@/ui/types";

const bookReviews = await getListBookReviews();

type Props = {
  bookReviews: BookReview[];
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<DefaultLayout title="Reading List">
  <Fragment slot="seo">
    <Seo
      title="Reading List - Book Reviews & Recommendations"
      description="Discover my thoughts on books I've read, from fiction to non-fiction, with honest reviews and recommendations."
      url={canonicalURL}
    />
  </Fragment>

  <div class="title">
    <h2>Reading List</h2>
  </div>

  <div class="container">
    <div class="content">
      <ReadingList itemsPerRow="2" articles={bookReviews.slice(0, 8)} />
    </div>

    <Sidebar />
  </div>
</DefaultLayout>

<style lang="scss">
  .title {
    max-width: var(--widthMainContainer);
    width: 100%;
    margin: 0 auto 3rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      color: var(--colorThemeTextMain);
    }

    p {
      font-size: 1.2rem;
      color: var(--colorThemeTextSecondary);
      margin: 0 0 1.5rem;
    }

    @media screen and (max-width: 79rem) {
      margin-right: 2rem;
      margin-left: 2rem;
      width: calc(100% - 4rem);
    }
  }

  .container {
    max-width: var(--widthMainContainer);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media screen and (max-width: 79rem) {
      margin-right: 2rem;
      margin-left: 2rem;
      width: calc(100% - 4rem);
      gap: 1rem;
    }

    @media screen and (max-width: 62rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .content {
    grid-column: span 2;
    margin-top: -2rem;
  }
</style>
