/* line 17, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

/* line 15, ../sass/screen.scss */
body {
  background-color: #222;
  margin: 0 auto;
}

/* line 20, ../sass/screen.scss */
header {
  background-color: #7ca9bf;
  padding: 0 0 30px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-align: center;
}
/* line 26, ../sass/screen.scss */
header h1 {
  width: 720px;
  margin: 0 auto;
  padding: 100px 0 25px;
  position: relative;
  border-bottom: 6px solid #fff;
  text-shadow: #698fa2 -5px 8px 0;
  -webkit-box-shadow: #698fa2 0px 6px 0 -2px;
  -moz-box-shadow: #698fa2 0px 6px 0 -2px;
  box-shadow: #698fa2 0px 6px 0 -2px;
  font-size: 120px;
}
/* line 35, ../sass/screen.scss */
header h1 em {
  position: absolute;
  top: 15px;
  left: -20px;
  font: normal 90px/100% "Lobster", cursive;
  display: block;
}
/* line 42, ../sass/screen.scss */
header h2 {
  margin: 15px 0 0;
  font-size: 33px;
  text-shadow: #698fa2 -3px 4px 0;
  text-transform: uppercase;
}
/* line 47, ../sass/screen.scss */
header h2 a {
  color: #fff;
  text-decoration: none;
}
/* line 50, ../sass/screen.scss */
header h2 a:hover span:nth-child(2n+1) {
  color: #b0cbd8;
}
/* line 53, ../sass/screen.scss */
header h2 a:hover span:nth-child(2n) {
  color: #d1e0e8;
}

/* line 60, ../sass/screen.scss */
.mainNav {
  background-color: #222;
  width: 100%;
  padding: 15px 0;
  font: bold 18px/100% "Oswald", sans-serif;
  text-transform: uppercase;
  z-index: 1000;
}
/* line 67, ../sass/screen.scss */
.mainNav a {
  text-decoration: none;
  color: #fff;
}
/* line 71, ../sass/screen.scss */
.mainNav ul {
  width: 630px;
  margin: 0 auto;
  overflow: hidden;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
/* line 77, ../sass/screen.scss */
.mainNav ul li {
  width: 105px;
  padding: 5px 10px;
  border-right: 1px solid #444;
  float: left;
  overflow: hidden;
}
/* line 83, ../sass/screen.scss */
.mainNav ul li:last-child {
  border-right: none;
}
/* line 86, ../sass/screen.scss */
.mainNav ul li a {
  width: 105px;
  display: block;
  padding: 8px 0 8px;
  text-align: center;
  text-shadow: #121212 -2px 3px 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 93, ../sass/screen.scss */
.mainNav ul li a:hover {
  background-color: #121212;
}

/* line 101, ../sass/screen.scss */
.sectionContainer {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
  line-height: 120%;
  overflow: hidden;
}

/* line 108, ../sass/screen.scss */
.about {
  background-color: #f6ff4d;
  color: #333;
}
/* line 111, ../sass/screen.scss */
.about article {
  width: 600px;
  float: left;
}
/* line 115, ../sass/screen.scss */
.about aside {
  width: 320px;
  float: right;
}
/* line 118, ../sass/screen.scss */
.about aside h2 {
  margin: 0 0 15px;
  font: normal 42px/100% "Oswald", sans-serif;
  text-shadow: #d1d841 -3px 4px 0;
  text-transform: uppercase;
  color: 333;
}

/* line 128, ../sass/screen.scss */
img {
  border: 20px solid #d1d841;
}
