//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//

.mainNav { 
  $baseSize: 18px;
    ul {
      width: 28.056em;
      padding: calcEm(10px, $baseSize) 0;
      font: normal #{calcEm($baseSize)}/100% $headingFont;
        li {
          width: 5.833em;
          padding: calcEm(5px, $baseSize) calcEm(10px, $baseSize);
            a {
              padding: calcEm(8px, $baseSize) 0;
              @include flatTextShadow(tint($black, 10%), calcEm(-2px, $baseSize), calcEm(3px, $baseSize));
            }
        }    
    }
}