//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//

.sectionContainer {
  width: 53.333em; // 960px
  padding: 100px 0;
}

header {
  width: 53.333em; // 960px
  margin-left: calcEm(-480px);
}

#about {
  h3 { @include bigTitle($red, -3px, 4px); }
  section { 
    width: 33.333em;
    float: left; 
      article {
        width: 33.333em;
        float: none;
      }
  }
  aside { 
    width: 17.778em; 
    display: block; 
    float: right;
  }
}

//*****************
//  7.1 SKILL LISTS
//*****************

.skillLists {
  width: 100%;
}

.devSkills, .designSkills {
  width: 14.167em;
  margin: 0;
}

.devSkills {
  float: left;
}
.designSkills {
  float: right;
}

#work {
    img { width: 16.111em; }
}

.hoverBox {
  width: 15em;
}


#contact {
    h3 { @include bigTitle($purple, -3px, 4px); }
}

footer {
  article { width: 25em; }
}

.contactEmail { float: left; }
.contactNet { float: right; }