//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//

//
//=============================================================================
//  SITE NAVIGATION
//=============================================================================
//

.mainNav {
  $baseSize: 18px;
  background-color: $grey;
  width: 100%;
  padding: calcEm(10px, $baseSize) 0;
  font: normal #{calcEm($baseSize)}/100% $headingFont; //18px
  text-transform: uppercase;
  position: fixed;  
  top: 0;
  z-index: 1000;
    ul {
      width: 28.056em;
      margin: 0 auto;
      overflow: hidden;
      border-top: 1px solid #444; border-bottom: 1px solid #444;
        li {
          width: 5.833em;
          padding: calcEm(5px, $baseSize) calcEm(10px, $baseSize);
          border-right: 1px solid #444;
          float: left;
          overflow: hidden;
            &:last-child { border-right: none; }
            a {
              width: 100%;
              display:block;
              padding: calcEm(8px, $baseSize) 0 calcEm(8px, $baseSize);
              text-align: center;
              @include flatTextShadow(tint($black, 10%), calcEm(-2px, $baseSize), calcEm(3px, $baseSize));
              &:hover { color: #fff; }
            }
            &:nth-child(1) a:hover { @include navHover($blue); }
            &:nth-child(2) a:hover { @include navHover($red); }
            &:nth-child(3) a:hover { @include navHover($green); }
            &:nth-child(4) a:hover { @include navHover($purple); }
        }
    }
}

//
//=============================================================================
//  SECTIONS
//=============================================================================
//

@import 'sections';