//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//

//
//=============================================================================
//  SITE NAVIGATION
//=============================================================================
//

.mainNav {
  background-color: $grey;
  width: 100%;
  padding: 10px 0;
  font: normal 18px/100% $headingFont;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 1000;
    ul {
      width: 505px;
      margin: 0 auto;
      overflow: hidden;
      border-top: 1px solid #444; border-bottom: 1px solid #444;
        li {
          width: 105px;
          padding: 5px 10px;
          border-right: 1px solid #444;
          float: left;
          overflow: hidden;
            &:last-child { border-right: none; }
            a {
              width: 105px;
              display:block;
              padding: 8px 0 8px;
              text-align: center;
              @include flatTextShadow(tint($black, 10%), -2px, 3px);
              &:hover { color: #fff; }
            }
            &:nth-child(1) a:hover { @include navHover($blue); }
            &:nth-child(2) a:hover { @include navHover($red); }
            &:nth-child(3) a:hover { @include navHover($green); }
            &:nth-child(4) a:hover { @include navHover($purple); }
        }
    }
}

//
//=============================================================================
//  SECTIONS
//=============================================================================
//

@import 'sections';