//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//

//
//=============================================================================
//  5. SECTION GENERAL
//=============================================================================
//

.sectionContainer {
  width: 16.667em; // 320px
  margin: 0 auto; padding: 4.4444em 0.556em;
  line-height: 120%;
  overflow: hidden;
}

//
//=============================================================================
//  6. FRONT SECTION
//=============================================================================
//

#front { background-color: $blue; }
header {
  width: 100%;
  margin: 0; padding: 0;
  font-family: $headingFont;
  color: #fff;
  text-align: center;
  margin: calcEm(-160px) 0 0; padding: 0 0 calcEm(30px);
  position: absolute;
  top: 50%;
    h1 {
      $baseSize: 75px;
      width: calcEm(320px, $baseSize);
      margin: 0 auto; padding: calcEm(80px, $baseSize) 0 calcEm(25px, $baseSize);
      position: relative;
      @include flatTextShadow($blue, calcEm(-5px,$baseSize), calcEm(8px, $baseSize));
      font-size: calcEm($baseSize);
      line-height: 105%;
        em {
          $baseSize: 55px;
          font: {
            size: calcEm($baseSize, 75px);
            family: $cursiveFont;
          } 
          line-height: 110%;
          display: block;
          @include flatTextShadow($blue, calcEm(-4px,$baseSize), calcEm(6px, $baseSize));
        }
    }
}

.introBox {
  background-color: shade($blue, 15%);
  margin: 0.8333em auto 0;
  position: relative;
  overflow: hidden;
  display: none;
  @include multiBoxShadow($blue, 20%, 0.278em);
    li {
      $baseSize: 28px;
      display: block;
      width: calcEm(665px, $baseSize);
      margin: calcEm(15px, $baseSize) 0;
      font-size: $baseSize;
      text: {
        align: center;
        transform: uppercase;
      }
      color: tint($black, 8%);
      position: absolute;
      top: 0;
      @include flatTextShadow(shade($blue, 10%), calcEm(-3px, $baseSize), calcEm(4px, $baseSize));
        span:nth-child(2n+1) { color: tint($red, 40%); }
        span:nth-child(2n) { color: tint($red, 55%); }
        em {
          $baseSize: 22px;
          margin-left: calcEm(5px, $baseSize);
          font: {
            family: $bodyFont;
            size: $baseSize;
          }
          color: #fff;
          display: block;
          position: relative;
          top: calcEm(5px, $baseSize);
          @include flatTextShadow(shade($blue, 10%), calcEm(-2px, $baseSize), calcEm(3px, $baseSize));
        }
    }
}

//
//=============================================================================
//  7. ABOUT SECTION
//=============================================================================
//

#about {
    h2 { @include sectionTitle($red); }
    h3 { @include bigTitle($red, -3px, 4px, 32px); }
  background-color: $red;
  color: #fff;
  margin-bottom: calcEm(4px);
  border-bottom: 5px dashed shade($red, 25%);
  @include flatTextShadow($red, 0.063em, 0.125em);
  @include box-shadow($red 0 10px 0 0);
    section { 
      width: 100%;// 360px
      float: none; }
    aside { display: none; }
    img { @include imgBorder($red, 15px); }
    em { color: tint($black, 8%); }
}

//*****************
//  7.1 SKILL LISTS
//*****************

.skillLists { overflow: hidden;
  ul { background-color: shade($red, 10%); }
}

.devSkills, .designSkills {
    h4  {
      @include bigTitle(shade($red, 10%), -2px, 3px, 24px, $black);
    }
  width: 14.444em;
  margin: 0;
  padding: 0.938em;
  @include multiBoxShadow($red, 20%, 0.313em);
    li {
      padding: 0 0.313em;
      @include flatTextShadow(shade($red, 15%), 0.063em, 0.125em);
    }
    li:nth-child(2n+1) { background-color: shade($red, 15%); }
    li:first-child { background-color: transparent; }
}

.devSkills {
  margin-bottom: 15px;
}

//
//=============================================================================
//  8. WORK SECTION
//=============================================================================
//

#work {
    h2 { @include sectionTitle($green); }
    h3 { @include bigTitle($green, -3px, 4px, 32px); }
  background-color: $green;
  color: #fff;
  @include flatTextShadow($green, 0.063em, 0.125em);
  @include box-shadow(shade($green, 30%) 0 0.625em 0 0);
    section {
      margin-bottom: 1.250em;
      overflow: hidden;
        > ul {
            > li {
              &:nth-child(3n) { margin-right: 0; }
              p {
                margin-bottom: 0.625em;
              }
            }
        }
    }
    img { 
      width: 15.556em;
      @include imgBorder($green, 10px); }
}

//*****************
//  WorkSlider
//*****************

.workSlider {
  width: 100%;
  height: 12.889em;
  position: relative;
  top: 0; left: 0;
  overflow: hidden;
    .slider {
      width: 100%;
      height: 100%;
        .slide {
          width: 17.150em;
          height: 16.667em;
          margin: 0 0.938em 0.938em 0;
          position: relative;
        }
    }
}

//*****************
//  Hover Box
//*****************


.hoverBox {
  background-color: rgba(tint($green, 15%), 0.8);
  display: none;
  width: 14.444em; height: 8.889em;
  padding: 0.556em;
  position: absolute;
  top: 10px; left: 10px;
    h4 {
      margin: 0;
      @include bigTitle($green, -2px, 3px, 24px);
    }
    ul {
      position: absolute;
      bottom: 10px; left: 5px;
        li {
          width: auto;
          float: left;
          background-color: shade($green, 15%);
          margin: 0 0 0.278em 0.278em; padding: 0.111em 0.278em;
          @include flatTextShadow(shade($green, 15%), 0.056em, 0.111em);
        }
    }
}

//
//=============================================================================
//  9. CONTACT SECTION
//=============================================================================
//

#contact {
    h2 { @include sectionTitle($purple); }
    h3 { @include bigTitle($purple, -3px, 4px, 32px); }
  background-color: $purple;
}

footer {
  @include box-shadow(shade($purple, 30%) 0 10px 0 inset);
  @include flatTextShadow($purple, 0.056em, 0.111em);
    article { width: 100%; }
    a {
      color: #fff;
    }
}

//*****************
//  9.1 SOCIAL ICONS
//*****************

.socialIcons {
  text-align: center;
  list-style: none outside none;
    li {
      a {
        $baseSize: 22px;
        background-color: shade($purple, 10%);
        width: calcEm(65px, $baseSize); height: calcEm(40px, $baseSize);
        margin-right: calcEm(10px, $baseSize);
        padding-top: calcEm(20px, $baseSize);
        font: {
          family: 'icons';
          size: calcEm(22px);
          style: normal;
          weight: normal;
        }
        float: left;
        @include flatTextShadow(shade($purple, 15%), calcEm(-1px, $baseSize), calcEm(2px, $baseSize));
        @include multiBoxShadow($purple, 20%, calcEm(5px, $baseSize));
          &:hover { color: #fff;}
      }
      &.facebook a:hover {
        @include socialHover($facebook);
      }
      &.twitter a:hover {
        @include socialHover($twitter);
      }
      &.gplus a:hover {
        @include socialHover($gplus);
      }
      &.skype a:hover {
        @include socialHover($skype);
      }

    }
}