//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//


html {
  height: 101%;
  font-family: $bodyFont;
  font-size: 62.5%;
  color: #fff;
  overflow-x: hidden;
}

body {
  background-color: $grey;
  @include fontSize(18);
  margin: 0 auto;
}

.curtains{
  width: 100%;
  z-index:1;
  position:relative;
    &>li {
      position: fixed;
      display:block;
      top: 0; left: 0;
      width: 100%; min-height: 100%;
      overflow: hidden;
      z-index:1;
    }
    &>li.hidden { display: none; }
    &>li:first-child { z-index: 2; }
}

.left { float: left; }
.right { float: right; }

