//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//


$black: #333; // Used for text
$grey: #222; // Used with backgrounds
$blue: #68b2fc;
$purple: #7b72b2;
$red: #ff6759;
$green: #72B27B;

// Social Icon Colours
$facebook: #3b5998;
$twitter: #60d7ff;
$gplus: #d14428;
$skype: #3abfef;

// Font-face
$cursiveFont: 'Lobster', cursive;
$headingFont: 'Oswald', sans-serif;
$bodyFont: 'Source Sans', sans-serif;