//
//===============================================
//  $SITE-NAV
//===============================================
//

.main-nav {
    background-color: transparent;
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    transition: all .3s;
    width: 100%;
    z-index: 1000;

    h1 {
      a {
        min-width: 200px;

        span {
          display: inline-block;
          line-height: 1;
          min-width: 11px;
          overflow: hidden;
          transition: max-width .3s linear .1s; 
        }
      }
    }

    &.notTop .main-nav__content {
      border-bottom: none;

      h1 {
        line-height: 1 !important;

        a {
          border: 2px solid #fff;
          line-height: 14px;
          min-width: 26px;
          overflow: hidden;
          padding: 5px 3px 5px 5px;
          position: relative;
          transition: max-width .0s linear .1s, border .1s linear .2s, min-width .2s linear;
          width: 0%;

          &:hover {
            border: 2px solid transparent;
            min-width: 160px;
            transition: min-width .1s; 
          }
        }
      }

      a {
        color: #fff;

        span {
          margin-right: -3px;
          max-width: 0%;
          transition: max-width .3s, margin-right .3s; 
        }

        &:hover span {
          margin-right: 0;
          max-width: 83px; 
        }
      }
    }

    a {
      box-shadow: none;
      text-decoration: none;
      text-shadow: none; 
    }

    > a {
      background-color: rgba($brand-color, .9);
      display: none;
      height: 36px;
      padding: 8px;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 40px;
      z-index: 10;

      &:before,
      &:after,
      span {
        background: #fff;
        content: ' ';
        display: block;
        height: 2px;
        left: 8px;
        position: absolute;
        transition: transform .3s cubic-bezier(.6, -.45, .45, 1.5);
        width: 24px; 
      }

      &:before {
        top: 9px; 
      }

      &:after {
        bottom: 9px; 
      }

      span {
        bottom: 17px;
        opacity: 1;
        transition: opacity .3s; 
      }
    }

    &.notTop {
      background-color: rgba($brand-color, .9);
      padding: 0; 
    }

    &.menu-open {
      height: 100%;

    .main-nav__content {
      transform: translate(0, 0); 
    }

    > a {
      &:before {
        transform: translateY(8px) rotate(45deg); 
      }

      &:after {
        transform: translateY(-8px) rotate(-45deg); 
      }

      span {
        opacity: 0; 
      }
    }
  }
}

.main-nav__content {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 1280px;
  display: flex; 
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  align-items: center;

  h1,
  h3 {
    @include font-size(26px);
    font-family: $body-font; 
  }

  h1 {
    line-height: 62px;
    margin: 0 15px;
    text-transform: uppercase;
    transition: all .3s cubic-bezier(.6, -.45, .45, 1.5);

    a {
      box-sizing: content-box;
      display: inline-block;
    }
  }

  h3 {
    background: $black;
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 0 15px;
    position: relative;
    z-index: 10; 
  }

  p {
    color: $gray; 
  }
}

.main-nav__heading {
  margin: 25px 0;
  position: relative;

  &:before {
    background: #fff;
    content: ' ';
    display: block;
    height: 2px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1; 
  }
}

.main-nav__menu {
  float: right;
  list-style: none;
  margin: 0 10px 0 0;

  li {
    display: inline-block;
    margin: 0 15px;
    transition: margin .3s cubic-bezier(.6, -.45, .45, 1.5), font-size .3s; 
  }

  a {
    background-color: transparent;
    display: block;
    font-family: $body-font;
    font-weight: 700;
    margin: 14px 0;
    overflow: hidden;
    padding: 5px 15px;
    position: relative;
    transition: padding .3s;

    &:before {
      background-color: #fff;
      content: ' ';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: scale(0);
      transition: transform .2s ease;
      width: 100%;
      z-index: -1; 
    }

    &:hover {
      color: $brand-color;

      &:before {
        transform: scale(1); 
      }
    }

  }
}

@include media-query(desk) {
  .main-nav.notTop {
    h1 {
      @include font-size(20px);
      line-height: 52px; 
    }

    .main-nav__menu {
      li {
        @include font-size(15px);
        margin: 0 14px; 
      }

      a {
        margin: 12px 0;
        padding: 2px 12px; 
      }
    }
  }
}

@include media-query(portable) {
  .main-nav {
    animation: fadeIn .3s ease-in;
    animation-fill-mode: both;
    background: transparent;
    height: 0%;
    left: 0;
    padding: 0;
    position: fixed;
    right: 0;
    width: 100%;

    &.notTop {
      background-color: transparent; 
    }

    > a {
      display: block; 
    }

    h1 {
      display: none; 
    }
  }

  .main-nav__content {
    background: $black;
    height: 100%;
    padding: 100px 40px 0;
    position: absolute;
    top: 0;
    transform: translate(0, -100%);
    transition: transform .3s;
    width: 100%;

    h3 {
      color: #fff;
      font-size: 26px; 
    }
  }

  .main-nav__menu {
    float: none;
    margin: 0;

    li {
      border-top: 2px solid #bbb;
      clear: both;
      display: block;
      float: none;
      margin: 0;
      text-align: center;

      &:first-of-type {
        border-top: 0; 
      }

      &:hover a {
        background-color: transparent; 
      }
    }

    a {
      padding: 20px 15px;
      transition: border .3s; 
    }
  }
}

@include media-query(palm) {
  .main-nav > a {
    right: 10px;
    top: 10px; 
  }

  .main-nav__menu a {
    padding: 15px; 
  }
}
