//
//===============================================
//  $TYPOGRAPHY
//===============================================
//

* {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: $brand-color;
    color: #fff; }

::-moz-selection {
    background: $brand-color;
    color: #fff; }

%leading-paragraph {
    text-align: justify;

    .wrapper {
        padding-bottom: 0;

        p:first-of-type {
            @include font-size(24px);
            line-height: 150%;

            @include media-query(portable) {
                @include font-size(18px);
                line-height: 150%; }

            &:first-letter {
                background: 0 0;
                color: #528cc5;
                float: left;
                font-family: inherit;
                font-size: 5.2rem;
                line-height: .9;
                margin: -.25rem .5rem 0 0;
                padding: inherit;
                text-indent: 0;

                @include media-query(portable) {
                    font-size: 4rem;
                    margin-right: .1em; }
            }
        }
    }
}
