---
import type { CategoryLabelProps } from "./types";

interface Props extends CategoryLabelProps {}

const { name } = Astro.props;
---

<span class:list={["wrapper", name.toLowerCase().split(" ").join("-")]}>
  {name}
</span>

<style lang="scss">
  .wrapper {
    display: inline-block;
    font-family: var(--fontFamilyCondensed);
    text-transform: uppercase;
    letter-spacing: 0.025rem;
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    background-color: var(--colorBlack);
    color: var(--colorThemeTextMain);
    border-radius: 0.375rem;
    border: none;

    &.growth {
      background-color: var(--colorCategoryGrowth);
    }

    &.leadership {
      background-color: var(--colorCategoryLeadership);
    }

    &.culture {
      background-color: var(--colorCategoryCulture);
    }

    &.communication {
      background-color: var(--colorCategoryCommunication);
    }

    &.book-review {
      background-color: var(--colorCategoryBookReview);
    }

    &.sustainability {
      background-color: var(--colorCategorySustainability);
    }

    &.strategy {
      background-color: var(--colorCategoryStrategy);
    }
  }
</style>
