//===============================================
//  $SHARED
//===============================================

// Base elements

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,  
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
%sass-margin-bottom {
    margin-bottom: $base-spacing-unit;
    margin-bottom: ($base-spacing-unit / $base-font-size) * 1rem;

    .islet & {
        margin-bottom: $base-spacing-unit / 2;
        margin-bottom: (($base-spacing-unit / $base-font-size) / 2) * 1rem; }
}

.landmark {
    margin-bottom: 2 * $base-spacing-unit;
    margin-bottom: (2 * $base-spacing-unit / $base-font-size) * 1rem; }

hr {
    margin-bottom: $base-spacing-unit - 2px;
    margin-bottom: (($base-spacing-unit - 2px) / $base-font-size) * 1rem; }
ul,
ol,
dd {
    margin-left: 2 * $base-spacing-unit;
    margin-left: (2 * $base-spacing-unit / $base-font-size) * 1rem; }
