//
//===============================================
//  $SITE-NAV
//===============================================
//

.main-nav {
    background-color: transparent;
    width: 100%;
    padding: 45px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all .3s;

    a {
        box-shadow: none;
        text-decoration: none;
        text-shadow: none; }

    > a {
        background-color: rgba($brand-color, .9);
        display: none;
        height: 36px;
        width: 40px;
        padding: 8px;
        color: white;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;

        &:before, &:after, span {
            content: " ";
            display: block;
            width: 24px;
            background: white;
            height: 2px;
            position: absolute;
            left: 8px;
            transition: transform .3s cubic-bezier(.6,-0.45,.45,1.5); }

        &:before {
            top: 9px; }

        &:after {
            bottom: 9px; }

        span {
            bottom: 17px;
            opacity: 1;
            transition: opacity .3s; }
    }

    &.notTop {
        background-color: rgba($brand-color, .9);
        padding: 0; }

    &.menu-open {
        height: 100%;

        .main-nav__content {
            transform: translate(0,0); }

        > a {

            &:before {
                transform: translateY(8px) rotate(45deg); }

            &:after {
                transform: translateY(-8px) rotate(-45deg); }

            span {
                opacity: 0; }
        }
    }
}

.main-nav h1 a {
    min-width:200px;
}

.main-nav h1 a span {
    display:  inline-block;
    line-height: 1;
    min-width: 12px;
    overflow: hidden;
    transition: max-width .3s linear .1s;
}

.main-nav.notTop h1 {
    line-height: 1 !important;
}

.main-nav.notTop h1 a span {
    max-width: 0%;
    margin-right: -3px;
    transition: max-width .3s, margin-right .3s;
}

.main-nav.notTop h1 a:hover span {
    margin-right: 0;
    max-width: 83px;
}


.main-nav.notTop h1 a{
    width: 0%;
    min-width: 30px;
    transition: max-width .0s linear .1s, border .1s linear .2s, min-width .2s linear;
    line-height: 14px;
    border: 2px solid white;
    padding: 5px 3px 5px 5px;
    top: 9px;
    position: relative;
    overflow: hidden;
}

.main-nav.notTop h1 a:hover {
    min-width: 160px;
    border: 2px solid transparent;
    transition: min-width .1s;
}


.main-nav__content {
    color: white;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;

    h1, h3 {
        @include font-size(26px);

        font-family: $heading-font;
        color: white; }

    h1 {
        margin: 0 15px;
        line-height: 62px;
        text-transform: uppercase;
        float: left;
        transition: all .3s cubic-bezier(.6,-0.45,.45,1.5);

        a {
            display: inline-block;
            box-sizing: content-box;
        }
    }

    h3 {
        background: $black;
        padding: 0 15px;
        display: inline-block;
        z-index: 10;
        position: relative;
        margin: 0 0 0 15px; }

    p {
        color: $gray; }
}

.main-nav__heading {
    position: relative;
    margin: 25px 0;

    &:before {
        content: " ";
        background: white;
        height: 2px;
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        z-index: 1; }
}

.main-nav__menu {
    list-style: none;
    margin: 0 10px 0 0;
    float: right;

    li {
        margin: 0 15px;
        display: inline-block;
        float: left;
        transition: margin .3s cubic-bezier(.6,-0.45,.45,1.5), font-size .3s; }

    a {
        background-color: transparent;
        display: block;
        margin: 14px 0;
        padding: 5px 15px;
        color: white;
        font-family: $heading-font;
        transition: padding .3s;
        position: relative;
        overflow: hidden;

        &:before {
            background-color: white;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: transform 0.2s ease;
            transform: scale(0);
        }

        &:hover {
                color: $brand-color;

                &:before {
                    transform: scale(1);
                }
        }

    }
}

@include media-query(desk) {
.main-nav.notTop {

    h1 {
        @include font-size(20px);

        line-height: 52px; }

    .main-nav__menu {

        li {
            margin: 0 14px;
            @include font-size(15px); }

        a {
            margin: 12px 0;
            padding: 2px 12px; }
    }

    // &:hover {
    //     background-color: rgba(0,0,0, .65) !important;

    //     h1 {
    //     @include font-size(26px);

    //     line-height: 62px; }

    //     .main-nav__menu {
    //         @include font-size(16px);

    //         li {
    //             margin: 0 15px; }

    //         a {
    //             padding: 19px 15px;

    //             &:before {
    //                 margin-right: 25px; }
    //         }
    //     }
    // }
}
}

@include media-query(portable) {
.main-nav {
    background: transparent;
    height: 0%;
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    padding: 0;
    animation: fadeIn .3s ease-in 1.5s;
    animation-fill-mode: both;

    &.notTop {
        background-color: transparent; }

    > a {
        display: block; }

    h1 {
        display: none; }
}

.main-nav__content {
    background: $black;
    height: 100%;
    width: 100%;
    padding: 40px 40px 0;
    transition: transform .3s;
    transform: translate(0,-100%);
    position: absolute;
    top: 0;

    h3 {
        color: white;
        font-size: 26px; }
}

.main-nav__menu {
    margin: 0;
    float: none;

    li {
        margin: 0;
        display: block;
        clear: both;
        float: none;
        text-align: center;
        border-top: 2px solid #bbb;

        &:first-of-type {
            border-top: none; }

        &:hover a {
            background-color: transparent; }
    }

    a {
        padding: 20px 15px;
        transition: border .3s; }
}
}

@include media-query(palm) {
.main-nav {

    > a {
        top: 10px;
        right: 10px; }
}

.main-nav__menu {

    a {
        padding: 15px; }
}
}
