//
//===============================================
//  $PAGE-INTRO
//===============================================
//

.page__intro {
    animation: fadeInDown .5s ease-in 1s;
    animation-fill-mode: both;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: $heading-font;
    overflow: hidden;
    position: relative;
    text-align: center;

    .wrapper {
        padding-bottom: 100px;
        padding-top: 150px;

        @include media-query(portable) {
            padding-bottom: 100px;
            padding-top: 100px; }

        @include media-query(palm) {
            padding-bottom: 76px;
            padding-top: 76px; }
    }


    h2 {
        @include font-size(32px);

        clear: both;
        color: #fff;
        line-height: 1.2;
        text-transform: none;
        transition: font-size .3s ease-out;

        @media screen and (min-height: 28em) and (min-width: $lap-start) {
            @include font-size(42px);
        }

        @media screen and (min-height: 38em) and (min-width: $desk-start) {
            @include font-size(52px);
        }
    }

    .post--length {
        float: right;
        line-height: 30px;
        margin: 0 10px 0 0;}

    time {
        @include font-size(16px);

        border: 2px solid #fff;
        float: right;
        line-height: 1;
        margin: 0 0 15px;
        padding: 5px 10px; }

    > div {
        background-color: fade-out($brand-color, .5);

        &:before,
        &:after {
            background: #fff;
            bottom: -34px;
            content: ' ';
            display: block;
            height: 60px;
            position: absolute;
            width: 52%; }

        &:after {
            right: -5px;
            transform: rotate(-3deg);}

        &:before {
            left: -5px;
            transform: rotate(3deg); }
    }

    a {
        color: #fff;
        text-decoration: none;
        text-shadow: none; }
}
