//
//===============================================
//  $POSTS
//===============================================
//

#post-content {
    background-color: white;
    width: 100%;
    font-weight: 300;
    color: #444;

     > .wrapper p:first-of-type {
        @include font-size(32px);

        &:first-letter {
            float: left;
            margin: -0.25rem .5rem 0 0;
            padding: inherit;
            font-size: 6.6rem;
            font-family: inherit;
            line-height: .9;
            text-indent: 0;
            background: 0 0;
            color: #528cc5;
        }
     }

    h2 {

        @include media-query(palm) {
            @include font-size(26px);

            line-height: 1.2; }
    }

    b,strong {
        font-weight: normal }

    img {

        &.fr {
            margin: 0 0 14px 24px; }

        &.fl {
            margin: 0 24px 14px 0; }
    }
}
