//
//===============================================
//  $TYPOGRAPHY
//===============================================
//

* {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: $brand-color;
    color: white; }
::-moz-selection {
    background: $brand-color;
    color: #fff; }