//
//===============================================
//  VARIABLES
//===============================================
//

$black: #444;
$blue: #528CC5;
$purple: #51518F;
$red: #B05140;
$green: #539052;

// Social Icon Colours
$facebook:  #3b5998;
$twitter:   #00ACED;
$instagram: #A58E7C;
$gplus:     #d14428;
$skype:     #3abfef;
$github:    #222;
$dribbble:  #ea4c88;
$gmail:     #D14130;

// Font-face
$heading-font: 'freight-sans-pro-1', 'freight-sans-pro-2', sans-serif;
$body-font: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', sans-serif;
$code-font: 'source-code-pro-1', 'source-code-pro-2', monospace;

@import 'icons';

//
//===============================================
//  FUNCTIONS
//===============================================
//

//*****************
//  PX TO EM CONVERSION
//*****************

@function calc-em($target, $context: 18px) {
    @if $target == 0 { @return 0 };
    @return $target / $context * 1em; }

//
//===============================================
//  MIXINS
//===============================================
//

//*****************
//  DISPLAY HELPERS
//*****************

@mixin display-inline-block() {
    display: inline-block;
    *display: inline;
    zoom: 1; }




//*****************
//  TYPOGRAPHY
//*****************

@mixin font-size($font-size: 18){
    font-size : #{$font-size}px;
    font-size : #{$font-size / 10}rem; }

@mixin text-overflow() {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap; }

//*****************
//  ELEMENTS
//*****************

// Hide from visual and speaking browsers

@mixin hidden() {
    display : none !important;
    visibility : hidden; }

// @include userselect(VALUE) (all, element, none, text)

@mixin user-select($select) {
    -webkit-user-select : $select;
       -moz-user-select : $select;
         -o-user-select : $select;
            user-select : $select; }

