.main-nav {
    $base-size: 18px;
    background-color: $grey;
    width: 100%;
    text-transform: uppercase;

    ul {
        width: 28.056em;
        margin: 0 auto;
        padding: calc-em(10px, $base-size) 0;
        font: normal #{calc-em($base-size)}/100% $heading-font;
        list-style-type: none;
        overflow: hidden; }

    li {
        @extend %fl;
        border: 1px solid #444;
        border-left: none;
        width: 5.833em;
        padding: calc-em(5px, $base-size) calc-em(10px, $base-size);
        overflow: hidden;

        a {
            display:block;
            width: 100%;
            padding: 0.6em 0 0.4em;
            text-align: center;
            border-bottom: none;
            color: #fff;

            &:hover {
                text-decoration: none;
                color: $red; }
        }
    }
}