//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//

//
//=============================================================================
//  SITE NAVIGATION
//=============================================================================
//

.mainNav {
  $baseSize: 14px;
  background-color: $grey;
  width: 100%;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 1000;
    ul {
      width: 22.858em;
      padding: 0;
      font: normal #{calcEm($baseSize)}/100% $headingFont;
      margin: 0 auto;
      overflow: hidden;
        a {
          width: 100%;
          display:block;
          text-align: center;
          padding: calcEm(17px, $baseSize) 0;
          @include flatTextShadow(tint($black, 10%), calcEm(-2px, $baseSize), calcEm(3px, $baseSize));
            &:hover { color: #fff; }
        }
        li {
          border: 1px solid #444;
          border-left: none;
          float: left;
          width: 5.661em;
          padding: 0;
          overflow: hidden;
            &:nth-child(4n) { border-right: none; }
            &:nth-child(1) a:hover { @include navHover($blue); }
            &:nth-child(2) a:hover { @include navHover($red); }
            &:nth-child(3) a:hover { @include navHover($green); }
            &:nth-child(4) a:hover { @include navHover($purple); }
        }
    }
}

//
//=============================================================================
//  SECTIONS
//=============================================================================
//

@import 'sections';