//
//===============================================
//  ARCHIVE PAGES
//===============================================
//

.archiveList {
  $baseSize: 24px;
  margin: 0;
  padding: calcEm(16px, $baseSize);
  font-size: calcEm($baseSize);
  list-style-type: none;
    a {
      display: block;
      width: auto; height: 100%; 
      padding: calcEm(15px, $baseSize) 
               calcEm(10px, $baseSize)
               calcEm(10px, $baseSize);  
      -webkit-transition: all 0.5s;
      -moz-transition:  all 0.5s;
      -ms-transition:  all 0.5s;
      -o-transition:  all 0.5s;
      transition:  all 0.5s;
      overflow: hidden;
        &:hover {
          background-color: #fff;
          text-shadow: none; 
          text-decoration: none;
            time {
              color: $black;
            }
          }
        h2 { 
          width: 760px;
          margin-bottom: 0;
          font: {
            size: $baseSize;
            weight: normal;
          }
          line-height: 130%;
          color: #fff;
          border-bottom: none;
          float: left; 
        }
        time {
          padding-top: 0.35em;
          font-size: calcEm(16px, $baseSize);
          float: right;
        }
    }
}


//
//===============================================
//  POST(S) PAGE
//===============================================
//

#posts {
  background-color: $red;
  @include flatTextShadow($red, 0.063em, 0.125em);
    .sectionContainer { padding-top: calcEm(44px, 24px); }
    h1 { @include sectionTitle($red); }
    p { padding: 0 calcEm(26px); }
    ul {
      background-color: shade($red, 10%); 
      @include multiBoxShadow($red, 20%, 5px);
    }
    li {
      @include flatTextShadow(shade($red, 15%), 0.063em, 0.125em);
        &:nth-child(2n) a { 
          background-color: shade($red, 20%); }
        a:hover {
          background-color: #fff;
          color: $red;
          text-shadow: none; 
          text-decoration: none;
            h2 { color: $red; }
        }
    }    
}

#post {
    .sectionContainer { 
      width: 100%;
      padding: 20px 0; 
    }
    #postTitle { 
      background-color: $red;
      padding: 44px 0 20px; 
    }
    h1 { @include sectionTitle($red); }
}

#postContent { 
  background-color: #fff; 
  font-weight: 300;
  color: #444;
    a {
      font-weight: 400;
      color: $red;
    }
    b,strong { font-weight: normal } 
} 
    
//
//----------------------
//  SOCIAL SECTION
//----------------------
//

#social {
  background-color: $blue;
  padding-top: calcEm(4px);
  border-top: 5px dashed shade($blue, 25%);
  @include box-shadow($blue 0 -5px 0 0); 
    .sectionContainer { padding: 90px 0 100px; }
    h2 { @include sectionTitle($blue); }
    h3 { @include bigTitle($blue, -3px, 4px, 32px); }
}

.comments {
  width: 30em;
}
.share {
  width: 20em;
    .socialIcons {
        a {
          $baseSize: 23px;
          background-color: shade($blue, 10%);
          @include flatTextShadow(shade($blue, 15%), calcEm(-1px, $baseSize), calcEm(2px, $baseSize));
          @include multiBoxShadow($blue, 20%, calcEm(5px, $baseSize));
        }
    }
}

//
//===============================================
//  DEMO(S) PAGE
//===============================================
//

#demos, #demo {
  background-color: $green;
  @include flatTextShadow($green, 0.063em, 0.125em);
    h1 { @include sectionTitle($green); }
}

#demos {
    p { padding: 0 calcEm(26px); }
    ul {
      background-color: shade($green, 10%); 
      @include multiBoxShadow($green, 20%, 5px);
    }
    li {
      @include flatTextShadow(shade($green, 15%), 0.063em, 0.125em);
        &:nth-child(2n) a { 
          background-color: shade($green, 20%); }
        a:hover {
          background-color: #fff;
          color: $green;
          text-shadow: none; 
          text-decoration: none;
            h2 { color: $green; }
        }
    }    
}

#demo {
    #demoTitle { 
      padding: 44px 0 20px; 
    }
}

#demoArea { 
  background-color: #fff; 
  width: 100%;
  color: #444;
  text-shadow: none;
    &.sectionContainer { padding: 0; }
    #demoWrapper { padding: 100px 0; }
} 

//
//===============================================
//  FRONT PAGE
//===============================================
//

//
//----------------------
//  INTRO SECTION
//----------------------
//

#intro { 
  background-color: $blue;
    .sectionContainer {
      padding: 100px 0;
    }
}
header {
  width: calcEm(540px);
  font-family: $headingFont;
  color: #fff;
  text-align: center;
    h1 {
      $baseSize: 75px;
      font-size: calcEm($baseSize);
      line-height: 105%;
      color: #fff;
      @include flatTextShadow($blue, calcEm(-5px,$baseSize), calcEm(8px, $baseSize));
        span {
          $baseSize: 55px;
          display: block;
          font: {
            family: $cursiveFont;
            size: calcEm($baseSize, 75px);
            style: normal;
          }
          color: $black;
          line-height: 110%;
          @include flatTextShadow($blue, calcEm(-3px,$baseSize), calcEm(3px, $baseSize));
          position: relative;
          top: 10px;
        }
    }
    h2 {
      $baseSize: 28px;
      margin: calcEm(15px, $baseSize) 0 0;
      color: #fff;
      font: {
        family: $bodyFont;
        size: $baseSize;
        weight: normal;
      }
      line-height: calcEm(30px, $baseSize);
      border-bottom: none;
      clear: both;
      @include flatTextShadow($blue, calcEm(-1px,$baseSize), calcEm(3px, $baseSize));
    }
}

.introBox {
  background-color: shade($blue, 10%);
  width: 100%; height: calcEm(50px);
  margin: calcEm(20px) 0;
  position: relative;
  overflow: hidden;
  @include multiBoxShadow($blue, 20%, 5px);
    li {
      $baseSize: 28px;
      display: block;
      width: 100%;
      margin: calcEm(15px, $baseSize) auto 0; 
      font-size: $baseSize;
      text: {
        align: center;
        transform: uppercase;
      }
      color: $black;
      position: relative;
      @include flatTextShadow(shade($blue, 10%), calcEm(-2px, $baseSize), calcEm(3px, $baseSize));
        span {
          $baseSize: 22px;
          margin-left: calcEm(2px, $baseSize);
          font: {
            family: $bodyFont;
            size: $baseSize;
          }
          color: #fff;
          position: relative;
          top: -5px;
          @include flatTextShadow(shade($blue, 10%), calcEm(-2px, $baseSize), calcEm(3px, $baseSize));
        }
    }
}

#focusBox { width: calcEm(380px); }

#recent-posts { margin-bottom: calcEm(20px); }
#recent-posts, #recent-demos {
  background-color: shade($blue, 10%); 
    ul {
      margin: 0;
      padding: calcEm(16px);
      list-style-type: none;
      @include multiBoxShadow($blue, 20%, 5px);
    }    
    li {
      @include flatTextShadow(shade($blue, 15%), 0.063em, 0.125em);
        &:first-child { 
          background-color: transparent; 
          padding: 0 calcEm(5px);
        }
        &:nth-child(2n) a { background-color: shade($blue, 20%); }
        a {
          display: block;
          width: auto; height: 100%; 
          padding: calcEm(15px) calcEm(10px);  
          -webkit-transition: all 0.5s;
          -moz-transition:  all 0.5s;
          -ms-transition:  all 0.5s;
          -o-transition:  all 0.5s;
          transition:  all 0.5s;
            &:hover {
              background-color: #fff;
              color: $blue;
              text-shadow: none; 
              text-decoration: none;
            }
        }
    }
    h3 {
      @include bigTitle(shade($blue, 10%), -2px, 3px, 24px, $black);
    }
    
}

//
//----------------------
//  ABOUT SECTION
//----------------------
//

#about {
  background-color: $red;
  color: #fff;
  margin-bottom: calcEm(4px);
  border-bottom: 5px dashed shade($red, 25%);
  overflow: hidden;
  @include flatTextShadow($red, 0.063em, 0.125em);
  @include box-shadow($red 0 10px 0 0); 
    h2 { @include sectionTitle($red); }
    h3 { @include bigTitle($red, -3px, 4px, 32px); }
    div {
      width: 33.333em;
        section {
          width: 33.333em;
        }
    }
    aside { 
      width: 17.778em;
      display: block;
        section {
          width: auto;
        }
    }
    img { @include imgBorder($red, 15px); }
    em { color: black; }
}

//*****************
//  SKILL LISTS
//*****************

.skillLists { 
  width: 100%;
  overflow: hidden;
  ul { background-color: shade($red, 10%); }
}

.devSkills, .designSkills {
  width: 14.167em; /* 255px */
  margin: 0;
  padding: calcEm(16px);
  list-style-type: none;
  @include multiBoxShadow($red, 20%, 5px);
    li {
      @include flatTextShadow(shade($red, 15%), 0.063em, 0.125em);
        &:nth-child(2n+1) { background-color: shade($red, 20%); }
        &:first-child { 
          background-color: transparent; 
          padding: 0 calcEm(5px); 
        }
        &:not(:first-child) { padding: calcEm(10px) calcEm(5px);  }
    }
    h4 {
      @include bigTitle(shade($red, 10%), -2px, 3px, 24px, $black);
    }
}

//
//----------------------
//  WORK SECTION
//----------------------
//

#work {
    h2 { @include sectionTitle($green); }
    h3 { @include bigTitle($green, -3px, 4px, 32px); }
  background-color: $green;
  color: #fff;
  @include flatTextShadow($green, 0.063em, 0.125em);
  @include box-shadow(shade($green, 30%) 0 0.625em 0 0);
    section {
      margin-bottom: 1.250em;
      overflow: hidden;
    }
    img {
      width: 15.556em;
      @include imgBorder($green, 10px); }
}

//*****************
//  WorkSlider
//*****************

.workShowcase { 
  margin: 0;
  list-style-type: none; 
}
.workSlider {
  width: 100%; height: 12.222em;
  margin-top: 0.556em;
  position: relative;
  top: 0; left: 0;
  overflow: hidden;
    .slider {
      width: 100%; height: 100%;
      margin: 0;
      list-style-type: none; 
        .slide {
          width: 16.667em; height: 11em;
          margin: 0 1.111em 1.111em 0;
          position: relative;
        }
    }
}

.scrollbarBlock1, .scrollbarBlock2 {
  background-color: rgba(shade($green, 15%), 1);
}

//*****************
//  Hover Box
//*****************

.hoverBox {
  background-color: rgba(tint($green, 15%), 0.8);
  display: none;
  width: 14.444em; height: 8.889em;
  padding: 0.556em;
  position: absolute;
  top: 10px; left: 10px;
    h4 {
      margin: 0;
      @include bigTitle($green, -2px, 3px, 24px);
    }
    p { 
      margin-bottom: 0.3em; 
      line-height: 1.3;
    }
    ul {
      margin: 0;
      position: absolute;
      bottom: 10px; left: 5px;
      list-style-type: none; 
    }
    li {
      width: auto;
      float: left;
      background-color: shade($green, 15%);
      margin: 0 0 0.278em 0.278em; padding: 0.111em 0.278em;
      @include flatTextShadow(shade($green, 15%), 0.056em, 0.111em);
        
    }
}

//
//----------------------
//  CONTACT SECTION
//----------------------
//

#contact {
  background-color: $purple;
    h2 { @include sectionTitle($purple); }
    h3 { @include bigTitle($purple, -3px, 4px, 32px); }
}

footer {
  @include box-shadow(shade($purple, 30%) 0 10px 0 inset);
  @include flatTextShadow($purple, 0.056em, 0.111em);
    section { width: 26em; }
}


//*****************
//  SOCIAL ICONS
//*****************

.socialIcons {
  margin: 0;
  text-align: center;
  list-style: none outside none;
    a {
      $baseSize: 23px;
      background-color: shade($purple, 10%);
      width: calcEm(65px, $baseSize); height: calcEm(40px, $baseSize);
      margin-right: calcEm(15px, $baseSize);
      padding-top: calcEm(25px, $baseSize);
      font: {
        size: calcEm(22px);
        style: normal;
        weight: normal;
      }
      @include flatTextShadow(shade($purple, 15%), calcEm(-1px, $baseSize), calcEm(2px, $baseSize));
      @include multiBoxShadow($purple, 20%, calcEm(5px, $baseSize));
      -webkit-transition: all 0.5s;
      -moz-transition:  all 0.5s;
      -ms-transition:  all 0.5s;
      -o-transition:  all 0.5s;
      transition:  all 0.5s;
      float: left;
        &:hover {
          text-decoration: none; 
          color: #fff;
        }
    }
    li.facebook a:hover { @include socialHover($facebook); }
    li.twitter a:hover { @include socialHover($twitter); }
    li.instagram a:hover { @include socialHover($instagram); }
    li.github a:hover { @include socialHover($github); }
    li.dribbble a:hover { @include socialHover($dribbble); }
    li.gplus a:hover { @include socialHover($gplus); }
    li.skype a:hover { @include socialHover($skype); }
    li.gmail a:hover { @include socialHover($gmail); }
}