html {
  font-family: $body-font;
  font-size: 62.5%;
  color: #fff;
  overflow-x: hidden;
}

body {
  background-color: $grey;
  @include font-size(18);
  margin: 0 auto;
  padding: 66px 0 0;
}

.left { float: left; }
.right { float: right; }

::selection {
  background: $black;
  color: #fff;
  @include text-shadow(none);
}
::-moz-selection {
  background: $black;
  color: #fff;
  @include text-shadow(none);
}
  
//
//===============================================
//  SECTION GENERAL
//===============================================
//

#post-content > div, 
#demo-title > div,
.section-container { 
  width: 53.333em; // 960px 
  margin: 0 auto; 
}

.section-container {
  padding: 100px 0;
  line-height: 120%;
  overflow: hidden;
}

//
//===============================================
//  NAVIGATION
//===============================================
//

@import 'nav';

//
//===============================================
//  PAGES
//===============================================
//

@import 'pages';


.full { width: 100%; }