---
import { ArticleList } from "./";

const monthName = new Date().toLocaleString("default", { month: "long" });

const { articles } = Astro.props;
---

<div class="container" data-aos="fade-up">
  <div class="content">
    <h2>{monthName} highlights</h2>
    <ArticleList articles={articles} />
  </div>
</div>

<style lang="scss">
  .container {
    background-color: var(--colorThemeBackgroundAccent);
    padding: 2rem 0;

    .content {
      max-width: var(--widthMainContainer);
      margin: 0 auto;

      @media screen and (max-width: 79rem) {
        margin-right: 2rem;
        margin-left: 2rem;
        width: calc(100% - 4rem);
        gap: 1rem;
      }
    }

    h2 {
      font-size: 2rem;
      margin: 0;
    }
  }
</style>
