---
import Logo from "./Logo.astro";

const { theme } = Astro.props;
---

<script>
  // const mastheadToggle = document.querySelector('.masthead-toggle');
  // const mastheadContainer = document.querySelector('.masthead-wrapper');
  // const mastheadLinks = document.querySelectorAll('.masthead-wrapper a');
  // const mastheadBookButton = document.querySelector('.header-button');

  // const toggleState = () => {
  //   if (mastheadToggle.classList.contains('open')) {
  //     mastheadToggle.classList.remove('open');
  //     mastheadContainer.classList.remove('open');
  //   } else {
  //     mastheadToggle.classList.add('open');
  //     mastheadContainer.classList.add('open');
  //   }
  // };

  // document.addEventListener('astro:page-load', () => {
  //   mastheadToggle.addEventListener('click', () => toggleState());

  //   mastheadLinks.forEach((link) => {
  //     link.addEventListener('click', () => toggleState());
  //   });
</script>

<div class:list={["masthead", theme]}>
  <div class:list={["container", theme]}>
    <div class="logo">
      <Logo theme={theme} />
    </div>

    <button class="masthead-toggle">
      <span></span>
    </button>

    <div class:list={"masthead-wrapper"}>
      <nav>
        <ul>
          <!-- <li><a href="/#services">Services</a></li>
          <li><a href="/#about">About</a></li> -->
          <li><a href="/articles">Articles</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<style lang="scss">
  .masthead {
    &.black {
      background-color: var(--colorWhite);
    }
  }
  .container {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
    max-width: var(--widthMainContainer);
    margin: 0 auto;
    z-index: 20;
    position: relative;
    border-bottom: 1px solid var(--colorBlack);

    @media screen and (max-width: 81rem) {
      margin: 0 2rem;
    }

    &.dark {
      border-bottom-color: var(--colorWhite);
    }
  }

  .masthead-toggle {
    all: initial;
    position: relative;
    height: 36px;
    width: 38px;
    display: none;
    margin-left: auto;
    margin-right: 1rem;
    z-index: 10;

    // @media screen and (max-width: 46rem) {
    //   display: block;
    // }

    span,
    &:before,
    &:after {
      background: var(--colorBlack);
      content: " ";
      display: block;
      height: 2px;
      left: 8px;
      position: absolute;
      transition: transform 0.3s cubic-bezier(0.6, -0.45, 0.45, 1.5);
      width: 24px;
    }

    span {
      bottom: 17px;
      opacity: 1;
      transition: opacity 0.3s;
    }

    &:before {
      top: 9px;
    }

    &:after {
      bottom: 9px;
    }

    &.open {
      span {
        opacity: 0;
      }

      &:before {
        transform: translateY(8px) rotate(45deg);
      }

      &:after {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  .masthead-wrapper {
    display: grid;

    // @media screen and (max-width: 46rem) {
    //   position: fixed;
    //   top: -1.125rem;
    //   bottom: 0;
    //   left: -1.25rem;
    //   transform: translateX(100%);
    //   height: calc(100vh + 1px);
    //   width: calc(100vw + 2px);
    //   background-color: var(--colorWhite);
    //   grid-template-columns: initial;
    //   grid-template-rows: auto 60px;
    //   padding: 5rem;
    // }

    nav {
      margin: auto;

      ul {
        list-style: none;
        margin: 0;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        font-weight: var(--fontWeightSemiBold);
        font-family: var(--fontFamilyHeading);
        font-size: 1.25rem;
        line-height: 1.4;
        letter-spacing: 0px;
      }
      a {
        padding: 0.5rem 2rem;
        color: var(--colorWhite);
      }
    }

    &.black nav ul a {
      color: var(--colorBlack);
    }

    @media screen and (max-width: 46rem) {
      &.open {
        transform: translateX(0);
        transition: 0.2s transform;

        nav {
          display: flex;
          align-items: center;
          justify-content: center;

          ul {
            flex-direction: column;
            font-size: 2rem;
            text-align: center;
          }

          li {
            margin: 1rem;
          }
        }
      }
    }
  }
</style>
