<div id="about">
  <article class="section-container">
    <h2>About</h2>
    <div class="left">
      <section style="text-align:justified">
        <h3>Who Am I?</h3>
        <p>
          I have been working as a designer and a developer for over 8 years, with experience in projects that have utilised many different disciplines. These include brand identity and website design to creating websites with my knowledge of front-end, and back-end development. I spend my time creating engaging user interfaces and mobile friendly apps.
        </p>
        <p>
          I've been making sites since I was a youngster and the Internet was announced with the sounds of buzzes and beeps. My first site would be nearly 16 years ago now, using FrontPage and it was a joy to create and learn this shiny new technology.
        </p>
        <p>
          Many years have past since that first attempt and I'm furthering my knowledge on a daily basis as the Internet evolves at amazing speed. The majority of my work has been spent freelancing for international clients and companies. Recently I've taken full-time roles within agencies and I enjoy working within a close knit team environment.
        </p>
      </section>

      <section class="skill-lists">
        <h3>My skills are!</h3>
          <ul class="dev-skills left">
            <li><h4>Development</h4></li>
            <li>HTML5/CSS3/SASS</li>
            <li>JS/jQuery</li>
            <li>Accessibility</li>
            <li>PHP/MySQL</li>
            <li>WordPress Dev</li>
          </ul>
          <ul class="design-skills right">
            <li><h4>Design</h4></li>
            <li>Web Design</li>
            <li>User Interface</li>
            <li>Brand Identity</li>
            <li>Print</li>
          </ul>
      </section>
    </div>
    
    <aside class="right">
      <section>
        <h3>This is me!</h3>
        <img src="http://www.gravatar.com/avatar/b5a80bde5dfc6022376a5a30fabdeb40?s=290" alt="This is me" />
      </section>
    </aside>
    
  </article><!-- /.section-container -->
</div><!-- /.about-panel -->
