<div id="about" class="cover">
  <article class="sectionContainer">
      <h2>About</h2>
    <div>
      <section>
        <h3>Who Am I?</h3>
        <p><em>I'm a</em> twenty something <em>designer</em> and <em>developer</em> from the coastal town of Margate, Kent. I spent most of my childhood covered in sand or splashing about in the sea, I was often found making elborate sandcastles that took all day to build or drawing chalk masterpieces on the promanade. That was the early signs that I was going to grow up to do something in the creative field.</p>
        <p>I've now been working professional <em>for over 6 years</em> and continually trying to learn and do more, freelancing for the majority of the time but enjoying the few times I've been within a team environment.</p>
      </section>

      <section class="skillLists">
        <h3>My skills are!</h3>
        <ul class="devSkills">
          <li><h4>Development</h4></li>
          <li>HTML5/CSS3</li>
          <li>SASS</li>
          <li>JS/jQuery</li>
          <li>PHP</li>
          <li>WordPress</li>
          <li>Responsive Content</li>
          <li>E-commerce</li>
        </ul>
        <ul class="designSkills">
          <li><h4>Design</h4></li>
          <li>Web Design</li>
          <li>Interface Design</li>
          <li>Brand Identity</li>
          <li>Print</li>
        </ul>
      </section>
    </div>
    
    <aside>
      <section>
        <h3>This is me!</h3>
        <img src="http://www.gravatar.com/avatar/b5a80bde5dfc6022376a5a30fabdeb40?s=290" title="This is me" alt="This is me" />
      </section>
    </aside>
    
  </article><!-- /.sectionContainer -->
</div><!-- /.aboutPanel -->
