<div id="contact" class="cover">
  <footer>
    <article class="sectionContainer">
        <h2>Contact</h2>
        <section class="contactEmail">
          <h3>Drop me a message</h3>
          <p>
            Want to have a chat? We can talk about your newest project you need my awesome skills for, how your day has been, that time you got caught trying to refill your pint while the bartender wasn't looking or anything else you'd like to discuss.</p>
            <p>Send your email to: <a href="mailto://mail@tomsturge.co.uk" alt="Email: mail@tomsturge.co.uk" title="Email: mail@tomsturge.co.uk">mail@tomsturge.co.uk</a></p>
          </p>
        </section>
        <section class="contactNet">
          <h3>Network with me</h3>
          <p>
            If you'd also like to become my virtual friend or follow my various rabblings on the internet, you can find me on these sites:</p>
            <ul class="socialIcons">
              <li class="facebook">
                <a href="http://facebook.com/tomsturge" alt="Facebook" title="Facebook">&#xf300;</a>
              </li>
              <li class="twitter">
                <a href="http://twitter.com/tomsturge" alt="Twitter" title="Twiter">&#xf302;</a>
              </li>
              <li class="gplus">
                <a href="http://gplus.to/tomsturge" alt="Google Plus" title="Google Plus">&#xf309;</a>
              </li>
              <li class="skype">
                <a href="callto://tomsturge" alt="Skype" title="Skype">&#xf30b;</a>
              </li>
            </ul>
          </p>
        </section>
      </article>
    </div>
  </footer>
</div><!-- /.contactPanel -->