<div class="contact-panel">
    <div class="wrapper">
        <div class="contact-panel__email fl">
          <h3>Send me a message</h3>
          <p>
            Want to hire me? We can talk about your project you need my skills for. I'd love to hear from you.
          </p>
          <ul class="social-icons">
            <li class="gmail ss-icon">
              <a href="mailto:mail@tomsturge.co.uk?subject=Let%E2%80%99s%20work%20together" title="Email" class="email">Email</a>
            </li>
            <li class="skype ss-icon">
              <a href="callto:tomsturge" title="Skype">Skype</a>
            </li>
          </ul>
        </div>
        <!-- /.contact-panel__email -->

        <div class="contact-panel__social fr">
          <h3>Network with me</h3>
          <p>
            Follow my various ramblings and postings all over the internet, you can find me on these sites.
          </p>
          <ul class="social-icons">
            <li class="twitter ss-icon">
              <a href="http://twitter.com/tomsturge" title="Twiter">Twitter</a>
            </li>
            <li class="gplus ss-icon">
              <a href="http://gplus.to/tomsturge" title="Google Plus">Google+</a>
            </li>
            <li class="dribbble ss-icon">
              <a href="http://dribbble.com/tomsturge" title="Dribbble">Dribbble</a>
            </li>
            <li class="github ss-icon">
              <a href="http://github.com/tomsturge" title="Github">Octocat</a>
            </li>
          </ul>
        </div>
        <!-- /.contact-panel__social-->
    </div>
</div>
<!-- /.contact-panel -->