<footer id="contact">
  <article class="section-container">
    <h2>Contact</h2>
    <section class="contact-email left">
      <h3>Send me a message</h3>
      <p>
        Want to have a chat? We can talk about your newest project you need my awesome skills for, how your day has been, that time you got caught trying to refill your pint while the bartender wasn't looking or anything else you'd like to discuss.
      </p>
      <ul class="social-icons">
        <li class="gmail ss-icon">
          <a href="mailto:mail@tomsturge.co.uk" title="Email: mail@tomsturge.co.uk" class="email">Email</a>
        </li>
        <li class="skype ss-icon">
          <a href="callto:tomsturge" title="Skype">Skype</a>
        </li>
      </ul>
    </section>
    <section class="contact-social right">
      <h3>Network with me</h3>
      <p>
        If you'd also like to become my virtual friend or follow my various ramblings on the internet, you can find me on these sites:
      </p>
      <ul class="social-icons">
        <li class="twitter ss-icon">
          <a href="http://twitter.com/tomsturge" title="Twiter">Twitter</a>
        </li>
        <li class="instagram ss-icon">
          <a href="http://instagram.com/tomsturge" title="Instagram">Instagram</a>
        </li>
        <li class="facebook ss-icon">
          <a href="http://facebook.com/tomsturge" title="Facebook">Facebook</a>
        </li>
        <li class="gplus ss-icon">
          <a href="http://gplus.to/tomsturge" title="Google Plus">Google+</a>
        </li>
        <li class="github ss-icon">
          <a href="http://github.com/tomsturge" title="Github">Github</a>
        </li>
        <li class="dribbble ss-icon">
          <a href="http://dribbble.com/tomsturge" title="Dribbble">Dribbble</a>
        </li>
      </ul>
    </section>
  </article>
</footer><!-- /.contact-panel -->