<nav class="main-nav">
    <a href="/" title="Menu" class=""><span></span></a>

    <div class="main-nav__content">

        <ul class="main-nav__menu">
            <li><a href="/" class="icon-home">Home</a></li>
            <li><a href="/post" class="icon-posts">Posts</a></li>
            <li><a href="/work" class="icon-work">Work</a></li>
        </ul>

        <div class="main-nav__about">
            <div class="main-nav__heading">
                <h3 class="icon-lightbulb">About</h3>
            </div>

            <p>Focused on crafting great experiences, making everything I touch better, smarter and easier to use. I specialize in responsive front-end design, HTML/CSS and web typography. <em>I believe simple is beautiful.</em></p>
        </div>
    </div>
</nav>