<div id="work">
  <article class="section-container">
    <h2>Work</h2>
    
    {% case site.catogories %}
    
    <!-- TODO: Work out a new layout for work items -->
    
    {% when web %}
    <section>
      <ul class="work-showcase">
        <li>
          <h3>Web</h3>
          <p>A few of the sites I've made whilst working with various agencies or as part of solo projects.</p></li>
        <li>
          <div class="work-slider">
            <ul class="slider">
              {% for post in site.categories.web %}
              <li class="slide">
                <img src="{{ post.image }}" />
                  <a href="{{ post.url }}">
                    <h4>{{ post.title }}</h4>
                  </a>
              </li>
              {% endfor %}
            </ul>
          </div><!-- /.work-slider -->
        </li>
      </ul>
    </section>
    
    {% when branding %}
    <section>
      <ul class="work-showcase">
        <li>
          <h3>Branding</h3>
          <p>Who doesn't like a good logo? Here are some of marks I've created.</p>
        </li>
        <li>
          <div class="work-slider">
            <ul class="slider">
              {% for post in site.categories.branding %}
              <li class="slide">
                <img src="{{ post.image }}" />
                <div class="hover-box">
                  <a href="{{ post.url }}">
                    <h4>{{ post.title }}</h4>
                  </a>
                    {% for client in post.client %}
                      <p>For: <a href="{{ post.client_url }}">{{ post.client }}</a></p>
                    {% endfor %}
                  <ul>
                    {% for tag in post.tags %}
                      <li>{{ tag }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      </ul>
    </section>
    {% endcase %}
    
  </article>
</div><!-- /.work-panel -->
