<div id="work">
  <article class="section-container">
    <h2>Work</h2>
    
    {% case site.catogories %}
    
    <!-- TODO: Work out a new layout for work items -->
    
    {% when web %}
    <section>
      <h3>Web</h3>
      <p>A few of the sites I've made whilst working with various agencies or as part of solo projects.</p>
      <ul class="work-highlight">
        {% for post in site.categories.web limit:3 %}
        <li>
          <a href="{{ post.url }}">
            <img src="{{ post.image }}" />
          </a>
          <a href="{{ post.url }}">
            <h4>{{ post.title }}</h4>
          </a>
          <p>{{ post.meta }}</p>
        </li>
        {% endfor %}
      </ul>
    </section>
    
    {% when design %}
    <section>
      <h3>Design</h3>
      <p>A collection of designs I've created for different projects.</p>
      <ul class="work-highlight">
        {% for post in site.categories.design limit:3 %}
        <li>
          <a href="{{ post.url }}">
            <img src="{{ post.image }}" />
          </a>
          <a href="{{ post.url }}">
            <h4>{{ post.title }}</h4>
          </a>
          <p>{{ post.meta }}</p>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endcase %}
    
  </article>
</div><!-- /.work-panel -->
