<div id="work">
  <article class="section-container">
    <h2>Work</h2>
    <section>
      <ul class="work-showcase">
        <li>
          <h3>Web</h3>
          <p>A few of the sites I've made whilst working with various agencies or as part of solo projects.</p></li>
        <li>
          <div class="work-slider">
            <ul class="slider">
              <li class="slide">
                <img src="assets/images/web/oldSite.png" />
                <div class="hover-box">
                    <h4>Old Personal Site</h4>
                    <p><a href="http://tomsturge.co.uk/v1">tomsturge.co.uk/v1</a></p>
                    <ul>
                      <li>Design</li>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>jQuery</li>
                      <li>Single Page</li>
                      <li>Responsive</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/greenClean.png" />
                <div class="hover-box">
                    <h4>Green Clean Queen</h4>
                    <p><a href="http://www.thegreencleanqueen.com/">thegreencleanqueen.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>WordPress</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/phaseFive.png" />
                <div class="hover-box">
                    <h4>Phase Five Fitness</h4>
                    <p><a href="http://www.phase5fitness.com/">phase5fitness.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>jQuery</li>
                      <li>WordPress</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/romanFitness.png" />
                <div class="hover-box">
                    <h4>Roman Fitness Systems</h4>
                    <p><a href="http://www.romanfitnesssystems.com/">romanfitnesssystems.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>WordPress</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/quattroFitness.png" />
                <div class="hover-box">
                    <h4>Quattro Fitness</h4>
                    <p><a href="http://www.quattrofitness.co.nz/">quattrofitness.co.nz</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>jQuery</li>
                      <li>Custom CMS</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/benBruno.png" />
                <div class="hover-box">
                    <h4>Ben Bruno</h4>
                    <p><a href="http://www.benbruno.com/">benbruno.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>WordPress</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/crossfitElijo.png" />
                <div class="hover-box">
                    <h4>Crossfit San Elijo</h4>
                    <p><a href="http://www.crossfitsanelijo.com/">crossfitsanelijo.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>Custom CMS</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/bjornRos.png" />
                <div class="hover-box">
                    <h4>Bjorn Rosinger</h4>
                    <p><a href="http://www.bjornrosinger.com/">bjornrosinger.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>Custom CMS</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/fourthCoast.png" />
                <div class="hover-box">
                    <h4>4th Coast Fitness</h4>
                    <p><a href="http://www.4thcoastfitness.com/">4thcoastfitness.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>Custom CMS</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/durhamTraining.png" />
                <div class="hover-box">
                    <h4>Durham Fitness Training</h4>
                    <p><a href="http://www.durhamfitnesstraining.com/">durhamfitnesstraining.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>jQuery</li>
                      <li>Custom CMS</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/bodyFat.png" />
                <div class="hover-box">
                    <h4>Bodyfat Meltdown</h4>
                    <p><a href="http://www.bodyfatmeltdown.com/">bodyfatmeltdown.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>Custom CMS</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/advancedTrans.png" />
                <div class="hover-box">
                    <h4>Advanced Transmission Specialists</h4>
                    <p><a href="http://advancedtransmissionspecialist.com/">advancedtransmission(..).com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>Custom CMS</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/seanHyson.png" />
                <div class="hover-box">
                    <h4>Sean Hyson</h4>
                    <p><a href="http://www.seanhyson.com/">seanhyson.com</a></p>
                    <p>For: <a href="http://www.copterlabs.com">Copter Labs</a></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>Custom CMS</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/web/joesHoliday.png" />
                <div class="hover-box">
                    <h4>Joe's Holiday Home</h4>
                    <p><a href="#">joesholidayhome.co.uk</a></p>
                    <ul>
                      <li>Design</li>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>jQuery</li>
                    </ul>
                </div>
              </li>
            </ul>
          </div><!-- /.work-slider -->
        </li>
      </ul>
    </section>
    <section>
      <ul class="work-showcase">
        <li>
          <h3>Branding</h3>
          <p>Who doesn't like a good logo? Here are some of marks I've created.</p>
        </li>
        <li>
          <div class="work-slider">
            <ul class="slider">
              <li class="slide">
                <img src="assets/images/logo/arrowheadDesign.png" />
                <div class="hover-box">
                    <h4>Arrowhead Design</h4>
                    <p>For: <a href="http://arrowheaddesign.co.uk">Arrowhead Design</a></p>
                    <ul>
                      <li>Design Agency</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/logo/sbSecurity.png" />
                <div class="hover-box">
                    <h4>SB Security</h4>
                    <ul>
                      <li>Security</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/logo/skybluStudios.png" />
                <div class="hover-box">
                    <h4>Skyblu Studios</h4>
                    <ul>
                      <li>Project Management</li>
                    </ul>
                </div>
              </li>
              <li class="slide">
                <img src="assets/images/logo/joesHoliday.png" />
                <div class="hover-box">
                    <h4>Joe's Holiday Home</h4>
                    <ul>
                      <li>Home Letting</li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </article>
</div><!-- /.work-panel -->
