//
//===============================================
//  $PAGE-FOOT
//===============================================
//

.credits-panel {
  background: $brand-color;
  color: #fff;
  font-family: $heading-font;

  p {
    margin: 0;
    padding: 0 15px;

    @include media-query(palm) {
      @include font-size(14px); 
    }
  }

  a {
    color: #fff;
    text-shadow: 0 0 2px $brand-color; 
  }
}
