//
//===============================================
//  $PAGE
//===============================================
//


//------------------------------------
//  $CONTENTS
//------------------------------------

// BASE................The page base

// HEADINGS............Headings

// HOME................
// ARTICLES...............
// PORTFOLIO...........


//------------------------------------
//  $BASE
//------------------------------------

html {
  background-color: #fff;
  color: $black;
  font-family: $body-font;
  position: relative;
  height: 100%;
}

body {
  @include font-size(18px);

  margin: 0 auto;
  padding: 0 0 80px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  animation: fadeIn .5s ease-in;
  animation-fill-mode: both;
}

.container {
  background: #fff;
  opacity: 1;
  perspective: 1200px;
  transition: transform .3s, opacity .3s;
}

.wrapper,
%wrapper {
  line-height: 150%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 1280px;

  @include media-query(portable) {
    padding: 40px 15px;
    width: 100%;
  }
}

//------------------------------------
//  $HEADINGS
//------------------------------------

.heading-wrapper {
  margin: 60px 0 0;
  position: relative;

  @include media-query(palm) {
    margin: 20px 0 0;
  }

  &:before {
    background: #ddd;
    content: ' ';
    display: inline-block;
    height: 2px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.heading--lined {
  font-family: $heading-font;
  line-height: 140%;
  margin: 0 auto;
  perspective: 1520px;
  text-align: center;
  text-transform: uppercase;
  width: 500px;

  @include media-query(palm) {
    @include font-size(20px);

    margin: 0 15px;
    width: auto;
  }

  a,
  span {
    background: $brand-color;
    box-shadow: none;
    color: #fff;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    transform-origin: 0% 50%;
    transform-style: preserve-3d;
    transition: transform .3s cubic-bezier(.6, -.45, .45, 1.5);
    width: 100%;

    &:after {
      @include font-size(18px);

      background-color: $brand-color-darken;
      box-sizing: border-box;
      content: attr(data-hover);
      display: block;
      left: 0;
      padding: 10px 35px;
      position: absolute;
      text-transform: uppercase;
      top: 100%;
      transform: rotateX(-90deg);
      transform-origin: 0% 0%;
      width: 100%;
    }

    &:hover {
      text-decoration: none;
      transform: rotateX(45deg);

      @include media-query(palm) {
        transform: rotateX(0);
      }
    }
  }
}

//------------------------------------
//  $HOME
//------------------------------------

.page--home  {
  margin-top: 76px;
}

.page--home .page__intro {
  background-image: url('/assets/images/headers/homeIntro.png');

  h2 {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    font-family: $body-font;
    margin: 0 auto;
    padding: 20px 0;
    text-transform: uppercase;

    @media screen and (min-height: 28em) and (min-width: $lap-start) {
      @include font-size(42px);
    }

    @media screen and (min-height: 38em) and (min-width: $desk-start) {
      @include font-size(52px);
    }

    @include media-query(palm) {
      @include font-size(22px);

      padding: 15px 0;
    }
  }

  a {
    box-shadow: none;
  }
}

.intro-panel {
  @extend %leading-paragraph;
}

.feature-panel {
  background-size: cover;

  > div {
    background-color: fade-out($brand-color, .65);
  }
}

.panel__title {
  text-align: center;

  h3 {
    @include font-size(30px);

    background: $brand-color;
    color: #fff;
    display: inline-block;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;

    @include media-query(palm) {
      @include font-size(20px);
    }

    a {
      box-shadow: none;
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      text-shadow: none;
    }
  }

  p {
    color: #fff;
    margin: 0 auto 25px;
    width: 75%;
  }

  > a {
    background: $brand-color;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    padding: 15px 10px;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    transition: background-color .3s;
    width: auto;

    &:hover {
        background-color: $brand-color-darken;
    }
  }
}

.page--home .portfolio-panel {
  .heading-wrapper {
    margin-bottom: 60px;
  }

  > .wrapper {
    padding-bottom: 0;
  }
}


//------------------------------------
//  $ARTICLE
//------------------------------------

.page--article {
  margin-top: 77px;
}

//------------------------------------
//  $PORTFOLIO
//------------------------------------


.portfolio-items {
    list-style: none;
    margin: -20px 0 0;
    text-align: center;

    li {
        display: inline-block;
        height: 240px;
        margin: 20px 15px 0 -5px;
        overflow: hidden;
        position: relative;
        vertical-align: top;
        width: 310px;

        @include media-query(palm) {
            height: 220px;
            margin: 20px 0 0;
            width: 290px;
        }

        a {
            box-shadow: none;
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 100;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:hover {

            img {
                filter: blur(2px);
                transform: scale(1.2, 1.2);
            }

            .item-mask {
                opacity: 1;
            }

            h3 {
                transform: translateY(0);
            }

            p {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    img {
        display: block;
        height: 100%;
        transition: transform .3s, filter .3s;
        width: 100%;
    }
}

.item-mask {
    background-color: rgba(0, 0, 0, .65);
    color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity .3s;
    width: 100%;

    h3 {
        @include font-size(16px);

        background: $brand-color;
        margin: 15px 0;
        padding: 10px 15px;
        text-transform: uppercase;
        transform: translateY(-80px);
        transition: transform .3s;
    }

    p {
        @include font-size(15px);

        line-height: 1.2;
        margin: 0 0 15px;
        opacity: 0;
        padding: 0 20px;
        transform: translateY(140px);
        transition: transform .3s, opacity .3s;
    }

    a {
        @include font-size(15px);

        background: $brand-color;
        box-shadow: none;
        color: #fff;
        display: inline-block;
        margin: 0 auto;
        opacity: 0;
        padding: 5px 10px;
        text-transform: uppercase;
        transition: opacity .5s, background-color .3s;
        width: auto;

        &:hover {
            background-color: $brand-color-darken;
        }
    }
}

#portfolio-category h2 {
  border-bottom: 0;
  font-size: 1.35em;
  padding: 0 15px;
}

#portfolio-piece {
  @include media-query(portable) {
    img,
    article div {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }

    img {
      margin-bottom: 15px;
    }
  }

  img {
    float: left;
    width: 480px;
  }

  article div {
    float: right;
    width: 440px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;
  }

  li {
    background-color: $brand-color;
    color: #fff;
    float: left;
    font-family: $heading-font;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 6px 10px;
    text-transform: uppercase;
  }
}

.site-link {
  background-color: $black;
  border: 2px solid $black;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-family: $heading-font;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: none;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: #fff;
    box-shadow: none;
    color: $black;
    text-decoration: none;
  }

  span {
    @include font-size(15px);

    margin-right: 10px;
    position: relative;
    top: 2px;
  }
}
