//
//===============================================
//  $PAGE-INTRO
//===============================================
//

.page__intro {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: $heading-font;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-top: 72px;

    .wrapper {
        padding-bottom: 80px;
        padding-top: 120px;

        @include media-query(portable) {
            padding-bottom: 80px;
            padding-top: 70px;
        }

        @include media-query(palm) {
            padding-bottom: 65px;
            padding-top: 55px;
        }
    }


    h2 {
        @include font-size(32px);

        clear: both;
        color: #fff;
        line-height: 1.2;
        text-transform: none;
        transition: font-size .3s ease-out;

        @media screen and (min-height: 28em) and (min-width: $lap-start) {
            @include font-size(42px);
        }

        @media screen and (min-height: 38em) and (min-width: $desk-start) {
            @include font-size(52px);
        }
    }

    .post--length {
        float: right;
        line-height: 30px;
        margin: 0 10px 0 0;
    }

    time {
        @include font-size(16px);

        border: 2px solid #fff;
        float: right;
        line-height: 1;
        margin: 0 0 15px;
        padding: 5px 10px;
    }

    > div {
        background-color: fade-out($brand-color, .5);
    }

    a {
        color: #fff;
        text-decoration: none;
        text-shadow: none;
    }
}

.page--article .main-nav__content {
  border-bottom: none;
}