//
//===============================================
//  $POSTS
//===============================================
//

#post-content {
  @extend %leading-paragraph;

  background-color: #fff;
  color: #444;
  font-weight: 300;
  
  .wrapper { 
    width: 680px;
    margin: 0 auto;
  }


  h2 {
    @include media-query(palm) {
      @include font-size(26px);
      line-height: 1.2; 
    }
  }

  b, strong {
    font-weight: normal 
  }
  
  img {
    &.fr {
      margin: 0 0 14px 24px; 
    }
    &.fl {
      margin: 0 24px 14px 0; 
    }
  }
}
