---
layout: default
type: work-single
---

<article class="section-container">
  
  <h1>Work - Web</h1>

  {% for post in site.categories.web %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.meta }}</p>
    
  <div>
    <img src="{{ post.image }}" />
    <a href="{{ post.slug }}">
      <h3>{{ post.site_name }}</h3>
    </a>
  </div>
    {% for client in post.client %}
    <p>
      For: <a href="{{ post.client_url }}">{{ post.client }}</a>
    </p>
    {% endfor %}
   <ul>
    {% for tag in post.tags %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
  
</article>