html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style-type: none;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

@font-face {
  font-family: "Source Sans";
  src: url('../fonts/SourceSans.eot');
  src: url('../fonts/SourceSans.eot?#iefix') format('eot'), url('../fonts/SourceSans.woff') format('woff'), url('../fonts/SourceSans.ttf') format('truetype'), url('../fonts/SourceSans.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald.eot');
  src: url('../fonts/Oswald.eot?#iefix') format('eot'), url('../fonts/Oswald.woff') format('woff'), url('../fonts/Oswald.ttf') format('truetype'), url('../fonts/Oswald.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url('../fonts/Lobster.eot');
  src: url('../fonts/Lobster.eot?#iefix') format('eot'), url('../fonts/Lobster.woff') format('woff'), url('../fonts/Lobster.ttf') format('truetype'), url('../fonts/Lobster.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 101%;
  font-family: "Source Sans", sans-serif;
  font-size: 62.5%;
  color: #fff;
  overflow-x: hidden;
}

body {
  background-color: #222222;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #434343;
}

::selection, ::-moz-selection {
  background: #333333;
  color: #fff;
  text-shadow: none;
}

article p {
  margin-bottom: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.sectionContainer {
  width: 53.333em;
  margin: 0 auto;
  padding: 100px 0;
  line-height: 120%;
  overflow: hidden;
}

.mainNav {
  background-color: #222222;
  width: 100%;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.mainNav ul {
  width: 28.056em;
  padding: 0.55556em 0;
  font: normal 1em/100% "Oswald", sans-serif;
  margin: 0 auto;
  overflow: hidden;
}
.mainNav ul li {
  border: 1px solid #444444;
  border-left: none;
  float: left;
  width: 5.833em;
  padding: 0.27778em 0.55556em;
  overflow: hidden;
}
.mainNav ul li a {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0.44444em 0;
  text-shadow: #3c3c3c -0.11111em 0.16667em 0;
}
.mainNav ul li a:hover {
  color: #fff;
}
.mainNav ul li:nth-child(4n) {
  border-right: none;
}
.mainNav ul li:nth-child(1) a:hover {
  background-color: #4e85bd;
  -webkit-box-shadow: #34597e 0 3px 0 0 inset, #34597e 0 -3px 0 0 inset, #34597e 3px 0 0 0 inset, #34597e -3px 0 0 0 inset;
  -moz-box-shadow: #34597e 0 3px 0 0 inset, #34597e 0 -3px 0 0 inset, #34597e 3px 0 0 0 inset, #34597e -3px 0 0 0 inset;
  box-shadow: #34597e 0 3px 0 0 inset, #34597e 0 -3px 0 0 inset, #34597e 3px 0 0 0 inset, #34597e -3px 0 0 0 inset;
  text-shadow: #4271a0 -2px 3px 0;
}
.mainNav ul li:nth-child(2) a:hover {
  background-color: #bf4d42;
  -webkit-box-shadow: #7f332c 0 3px 0 0 inset, #7f332c 0 -3px 0 0 inset, #7f332c 3px 0 0 0 inset, #7f332c -3px 0 0 0 inset;
  -moz-box-shadow: #7f332c 0 3px 0 0 inset, #7f332c 0 -3px 0 0 inset, #7f332c 3px 0 0 0 inset, #7f332c -3px 0 0 0 inset;
  box-shadow: #7f332c 0 3px 0 0 inset, #7f332c 0 -3px 0 0 inset, #7f332c 3px 0 0 0 inset, #7f332c -3px 0 0 0 inset;
  text-shadow: #a24138 -2px 3px 0;
}
.mainNav ul li:nth-child(3) a:hover {
  background-color: #55855c;
  -webkit-box-shadow: #39593d 0 3px 0 0 inset, #39593d 0 -3px 0 0 inset, #39593d 3px 0 0 0 inset, #39593d -3px 0 0 0 inset;
  -moz-box-shadow: #39593d 0 3px 0 0 inset, #39593d 0 -3px 0 0 inset, #39593d 3px 0 0 0 inset, #39593d -3px 0 0 0 inset;
  box-shadow: #39593d 0 3px 0 0 inset, #39593d 0 -3px 0 0 inset, #39593d 3px 0 0 0 inset, #39593d -3px 0 0 0 inset;
  text-shadow: #48714e -2px 3px 0;
}
.mainNav ul li:nth-child(4) a:hover {
  background-color: #5c5585;
  -webkit-box-shadow: #3d3959 0 3px 0 0 inset, #3d3959 0 -3px 0 0 inset, #3d3959 3px 0 0 0 inset, #3d3959 -3px 0 0 0 inset;
  -moz-box-shadow: #3d3959 0 3px 0 0 inset, #3d3959 0 -3px 0 0 inset, #3d3959 3px 0 0 0 inset, #3d3959 -3px 0 0 0 inset;
  box-shadow: #3d3959 0 3px 0 0 inset, #3d3959 0 -3px 0 0 inset, #3d3959 3px 0 0 0 inset, #3d3959 -3px 0 0 0 inset;
  text-shadow: #4e4871 -2px 3px 0;
}

#front {
  background-color: #68b2fc;
}
#front .sectionContainer {
  padding: 166px 0 100px;
}

header {
  width: 33.33333em;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
}
header h1 {
  text-shadow: #5897d6 -0.06667em 0.10667em 0;
  font-size: 4.16667em;
  line-height: 105%;
}
header h1 em {
  display: block;
  font-size: 0.73333em;
  font-family: "Lobster", cursive;
  color: #434343;
  line-height: 110%;
  text-shadow: #5897d6 -0.05455em 0.05455em 0;
  position: relative;
  top: 10px;
}
header h2 {
  margin-top: 0.53571em;
  font-family: "Source Sans", sans-serif;
  font-size: 28px;
  line-height: 1.07143em;
  clear: both;
  text-shadow: #5897d6 -0.03571em 0.10714em 0;
}

.introBox {
  background-color: #5897d6;
  width: 100%;
  height: 2.77778em;
  margin: 1.11111em 0;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: #538ec9 0 0.278em 0 0 inset, #538ec9 0 -0.278em 0 0 inset, #538ec9 0.278em 0 0 0 inset, #538ec9 -0.278em 0 0 0 inset;
  -moz-box-shadow: #538ec9 0 0.278em 0 0 inset, #538ec9 0 -0.278em 0 0 inset, #538ec9 0.278em 0 0 0 inset, #538ec9 -0.278em 0 0 0 inset;
  box-shadow: #538ec9 0 0.278em 0 0 inset, #538ec9 0 -0.278em 0 0 inset, #538ec9 0.278em 0 0 0 inset, #538ec9 -0.278em 0 0 0 inset;
}
.introBox li {
  display: block;
  width: 100%;
  margin: 0.53571em auto 0;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #434343;
  position: relative;
  text-shadow: #4f88c0 -0.07143em 0.10714em 0;
}
.introBox li span:nth-child(2n+1) {
  color: #ffa39b;
}
.introBox li span:nth-child(2n) {
  color: #ffbab4;
}
.introBox li em {
  margin-left: 0.22727em;
  font-family: "Source Sans", sans-serif;
  font-size: 22px;
  color: #fff;
  position: relative;
  top: -5px;
  text-shadow: #4f88c0 -0.09091em 0.13636em 0;
}

#about {
  background-color: #ff6759;
  color: #fff;
  margin-bottom: 0.22222em;
  border-bottom: 5px dashed #bf4d42;
  overflow: hidden;
  text-shadow: #d8574b 0.063em 0.125em 0;
  -webkit-box-shadow: #ff6759 0 10px 0 0;
  -moz-box-shadow: #ff6759 0 10px 0 0;
  box-shadow: #ff6759 0 10px 0 0;
}
#about h2 {
  width: 50%;
  margin: 0 auto 0.75758em;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  color: #fff;
  padding: 0.60606em 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #d8574b;
  text-shadow: #b7493f -0.09091em 0.12121em 0;
}
#about h3 {
  margin: 0 0 0.46875em;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 110%;
  text-shadow: #d8574b -0.09375em 0.125em 0;
  text-transform: uppercase;
  color: white;
}
#about section {
  width: 33.333em;
  float: left;
}
#about section div {
  width: 33.333em;
  float: none;
}
#about aside {
  width: 17.778em;
  display: block;
  float: right;
}
#about aside section {
  width: auto;
}
#about img {
  border: 15px solid #d8574b;
}
#about em {
  color: #434343;
}

.skillLists {
  width: 100%;
  overflow: hidden;
}
.skillLists ul {
  background-color: #e55c50;
}

.devSkills, .designSkills {
  width: 14.167em;
  margin: 0;
  padding: 0.938em;
  -webkit-box-shadow: #cc5247 0 0.313em 0 0 inset, #cc5247 0 -0.313em 0 0 inset, #cc5247 0.313em 0 0 0 inset, #cc5247 -0.313em 0 0 0 inset;
  -moz-box-shadow: #cc5247 0 0.313em 0 0 inset, #cc5247 0 -0.313em 0 0 inset, #cc5247 0.313em 0 0 0 inset, #cc5247 -0.313em 0 0 0 inset;
  box-shadow: #cc5247 0 0.313em 0 0 inset, #cc5247 0 -0.313em 0 0 inset, #cc5247 0.313em 0 0 0 inset, #cc5247 -0.313em 0 0 0 inset;
}
.devSkills li, .designSkills li {
  padding: 0 0.313em;
  text-shadow: #b7493f 0.063em 0.125em 0;
}
.devSkills li:nth-child(2n+1), .designSkills li:nth-child(2n+1) {
  background-color: #d8574b;
}
.devSkills li:first-child, .designSkills li:first-child {
  background-color: transparent;
}
.devSkills h4, .designSkills h4 {
  margin: 0 0 0.625em;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 110%;
  text-shadow: #c24e44 -0.08333em 0.125em 0;
  text-transform: uppercase;
  color: #333333;
}

.devSkills {
  float: left;
}

.designSkills {
  float: right;
}

#work {
  background-color: #72b27b;
  color: #fff;
  text-shadow: #609768 0.063em 0.125em 0;
  -webkit-box-shadow: #4f7c56 0 0.625em 0 0;
  -moz-box-shadow: #4f7c56 0 0.625em 0 0;
  box-shadow: #4f7c56 0 0.625em 0 0;
}
#work h2 {
  width: 50%;
  margin: 0 auto 0.75758em;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  color: #fff;
  padding: 0.60606em 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #609768;
  text-shadow: #518058 -0.09091em 0.12121em 0;
}
#work h3 {
  margin: 0 0 0.46875em;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 110%;
  text-shadow: #609768 -0.09375em 0.125em 0;
  text-transform: uppercase;
  color: white;
}
#work section {
  margin-bottom: 1.250em;
  overflow: hidden;
}
#work img {
  width: 15.556em;
  border: 10px solid #609768;
}

.workSlider {
  width: 100%;
  height: 12.222em;
  margin-top: 0.556em;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.workSlider .slider {
  width: 100%;
  height: 100%;
}
.workSlider .slider .slide {
  width: 16.667em;
  height: 11em;
  margin: 0 1.111em 1.111em 0;
  position: relative;
}

.scrollbarBlock1, .scrollbarBlock2 {
  background-color: #609768;
}

.hoverBox {
  background-color: rgba(135, 189, 142, 0.8);
  display: none;
  width: 14.444em;
  height: 8.889em;
  padding: 0.556em;
  position: absolute;
  top: 10px;
  left: 10px;
}
.hoverBox h4 {
  margin: 0;
  margin: 0 0 0.625em;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 110%;
  text-shadow: #609768 -0.08333em 0.125em 0;
  text-transform: uppercase;
  color: white;
}
.hoverBox ul {
  position: absolute;
  bottom: 10px;
  left: 5px;
}
.hoverBox ul li {
  width: auto;
  float: left;
  background-color: #609768;
  margin: 0 0 0.278em 0.278em;
  padding: 0.111em 0.278em;
  text-shadow: #518058 0.056em 0.111em 0;
}

#contact {
  background-color: #7b72b2;
}
#contact h2 {
  width: 50%;
  margin: 0 auto 0.75758em;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  color: #fff;
  padding: 0.60606em 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #686097;
  text-shadow: #585180 -0.09091em 0.12121em 0;
}
#contact h3 {
  margin: 0 0 0.46875em;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 110%;
  text-shadow: #686097 -0.09375em 0.125em 0;
  text-transform: uppercase;
  color: white;
}

footer {
  -webkit-box-shadow: #564f7c 0 10px 0 inset;
  -moz-box-shadow: #564f7c 0 10px 0 inset;
  box-shadow: #564f7c 0 10px 0 inset;
  text-shadow: #686097 0.056em 0.111em 0;
}
footer article {
  width: 100%;
}
footer a {
  color: #fff;
}

.socialIcons {
  text-align: center;
  list-style: none outside none;
}
.socialIcons li a {
  background-color: #6e66a0;
  width: 2.95455em;
  height: 1.81818em;
  margin-right: 0.45455em;
  padding-top: 0.90909em;
  font-family: 'icons';
  font-size: 1.22222em;
  font-style: normal;
  font-weight: normal;
  float: left;
  text-shadow: #585180 -0.04545em 0.09091em 0;
  -webkit-box-shadow: #625b8e 0 0.22727em 0 0 inset, #625b8e 0 -0.22727em 0 0 inset, #625b8e 0.22727em 0 0 0 inset, #625b8e -0.22727em 0 0 0 inset;
  -moz-box-shadow: #625b8e 0 0.22727em 0 0 inset, #625b8e 0 -0.22727em 0 0 inset, #625b8e 0.22727em 0 0 0 inset, #625b8e -0.22727em 0 0 0 inset;
  box-shadow: #625b8e 0 0.22727em 0 0 inset, #625b8e 0 -0.22727em 0 0 inset, #625b8e 0.22727em 0 0 0 inset, #625b8e -0.22727em 0 0 0 inset;
}
.socialIcons li a:hover {
  color: #fff;
}
.socialIcons li.facebook a:hover {
  background-color: #3b5998;
  -webkit-box-shadow: #2f4779 0 5px 0 0 inset, #2f4779 0 -5px 0 0 inset, #2f4779 5px 0 0 0 inset, #2f4779 -5px 0 0 0 inset;
  -moz-box-shadow: #2f4779 0 5px 0 0 inset, #2f4779 0 -5px 0 0 inset, #2f4779 5px 0 0 0 inset, #2f4779 -5px 0 0 0 inset;
  box-shadow: #2f4779 0 5px 0 0 inset, #2f4779 0 -5px 0 0 inset, #2f4779 5px 0 0 0 inset, #2f4779 -5px 0 0 0 inset;
  text-shadow: #2a3f6d -1px 2px 0;
}
.socialIcons li.twitter a:hover {
  background-color: #60d7ff;
  -webkit-box-shadow: #4caccc 0 5px 0 0 inset, #4caccc 0 -5px 0 0 inset, #4caccc 5px 0 0 0 inset, #4caccc -5px 0 0 0 inset;
  -moz-box-shadow: #4caccc 0 5px 0 0 inset, #4caccc 0 -5px 0 0 inset, #4caccc 5px 0 0 0 inset, #4caccc -5px 0 0 0 inset;
  box-shadow: #4caccc 0 5px 0 0 inset, #4caccc 0 -5px 0 0 inset, #4caccc 5px 0 0 0 inset, #4caccc -5px 0 0 0 inset;
  text-shadow: #449ab7 -1px 2px 0;
}
.socialIcons li.gplus a:hover {
  background-color: #d14428;
  -webkit-box-shadow: #a73620 0 5px 0 0 inset, #a73620 0 -5px 0 0 inset, #a73620 5px 0 0 0 inset, #a73620 -5px 0 0 0 inset;
  -moz-box-shadow: #a73620 0 5px 0 0 inset, #a73620 0 -5px 0 0 inset, #a73620 5px 0 0 0 inset, #a73620 -5px 0 0 0 inset;
  box-shadow: #a73620 0 5px 0 0 inset, #a73620 0 -5px 0 0 inset, #a73620 5px 0 0 0 inset, #a73620 -5px 0 0 0 inset;
  text-shadow: #96301c -1px 2px 0;
}
.socialIcons li.skype a:hover {
  background-color: #3abfef;
  -webkit-box-shadow: #2e98bf 0 5px 0 0 inset, #2e98bf 0 -5px 0 0 inset, #2e98bf 5px 0 0 0 inset, #2e98bf -5px 0 0 0 inset;
  -moz-box-shadow: #2e98bf 0 5px 0 0 inset, #2e98bf 0 -5px 0 0 inset, #2e98bf 5px 0 0 0 inset, #2e98bf -5px 0 0 0 inset;
  box-shadow: #2e98bf 0 5px 0 0 inset, #2e98bf 0 -5px 0 0 inset, #2e98bf 5px 0 0 0 inset, #2e98bf -5px 0 0 0 inset;
  text-shadow: #2989ac -1px 2px 0;
}
