---
const isHeading = Astro.url.pathname === "/" || Astro.url.pathname === "/about";
---

<a
  href="/"
  aria-label="Tom Sturge"
  itemscope
  itemtype="https://schema.org/Person"
>
  {
    isHeading ? (
      <h1 itemprop="name">Tom Sturge</h1>
    ) : (
      <span itemprop="name">Tom Sturge</span>
    )
  }</a
>

<style lang="scss">
  a {
    display: block;
    text-decoration: none;
    color: var(--colorThemeTextMain);
    margin-top: -6px;

    h1,
    span {
      font-family: var(--fontFamilyHeading);
      font-size: 2.1em;
      text-transform: capitalize;
      margin: 0;
      font-weight: 800;
      letter-spacing: -1px;
    }
  }
</style>
