---
const isHomePage = Astro.url.pathname === "/";
---

<a
  href="/"
  aria-label="Tom Sturge"
  itemscope
  itemtype="https://schema.org/Person"
>
  {
    isHomePage ? (
      <h1 itemprop="name">Tom Sturge</h1>
    ) : (
      <span itemprop="name">Tom Sturge</span>
    )
  }</a
>

<style lang="scss">
  a {
    display: block;
    text-decoration: none;
    color: var(--colorThemeTextMain);
    font-family: var(--fontFamilyHeading);
    font-size: 2.1em;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: -1px;
    margin-top: -6px;
  }
</style>
