---
import Logo from "./Logo.astro";
import { default as ThemeToggle } from "./ThemeToggle.astro";

const { theme } = Astro.props;
---

<div class:list={["masthead", theme]}>
  <div class:list={["container", theme]}>
    <div class="masthead-wrapper">
      <div class="logo">
        <Logo theme={theme} />
      </div>

      <nav>
        <ul>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/reading-list">Reading List</a></li>
        </ul>
      </nav>
    </div>

    <ThemeToggle />
  </div>
</div>

<style lang="scss">
  .masthead {
  }

  .container {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
    max-width: var(--widthMainContainer);
    margin: 0 auto;
    z-index: 20;
    position: relative;
    border-bottom: 1px solid var(--colorThemeTextMain);

    @media screen and (max-width: 79rem) {
      margin: 0 2rem;
    }

    &.dark {
      border-bottom-color: var(--colorWhite);
    }
  }

  .masthead-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;

    nav {
      margin: auto;
      align-self: bottom;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        font-weight: var(--fontWeightMedium);
        font-family: var(--fontFamilyCondensed);
        font-size: 1.125rem;
        line-height: 1.4;
        letter-spacing: 0px;
      }
      a {
        padding: 0.5rem 1rem;
        color: var(--colorWhite);
        text-transform: uppercase;
      }
    }

    &.black nav ul a {
      color: var(--colorBlack);
    }
  }
</style>
