.main-nav {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(0,0);
    transition: transform .3s;
    z-index: 1000;

    > a {
        background: rgba(0,0,0,.25);
        display: block;
        height: 20px;
        width: 24px;
        padding: 8px;
        position: absolute;
        top: 30px;
        right: 50px;
        box-shadow: none;

        &:before {
            content: " ";
            display: block;
            width: 24px;
            background: white;
            height: 2px;
            position: absolute;
            top: 9px;
            left: 8px;
            transition: transform 0.3s; }

        &:after {
            content: " ";
            display: block;
            width: 24px;
            background: #FFF;
            height: 2px;
            position: absolute;
            bottom: 9px;
            left: 8px;
            transition: transform 0.3s; }

        span {
            display: block;
            width: 24px;
            background: #FFF;
            height: 2px;
            position: absolute;
            bottom: 17px;
            left: 8px;
            opacity: 1;
            transition: all 0.3s; }
    }

    &.menu-open {
        transform: translate(-410px,0);

        > a {
            box-shadow: none;

            &:before {
                transform: translateY(8px) rotate(45deg); }

            &:after {
                transform: translateY(-8px) rotate(-45deg); }

            span {
                opacity: 0; }
        }
    }
}

.main-nav__content {
    background: #444;
    height: 100%;
    width: 330px;
    color: #fff;
    padding: 0 40px;
    position: absolute;
    top: 0;

    h3 {
        color: white;
        background: #444;
        padding: 0 15px;
        display: inline-block;
        z-index: 10;
        position: relative;
        margin: 0 0 0 15px;
        font-family: "freight-sans-pro-1","freight-sans-pro-2",sans-serif;
        font-size: 26px; }

    p {
        color: #bbb; }
}

.main-nav__heading {
    position: relative;
    margin: 25px 0;

    &:before {
        content: " ";
        background: white;
        height: 2px;
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        z-index: 1; }
}

.main-nav__menu {
    list-style: none;
    margin: 25px 0;

    li {
        margin: 0;
        border-top: 2px solid #bbb;

        &:first-of-type {
            border-top: none; }

        &:hover a {
            left: 10px; }
    }

    a {
        display: block;
        padding: 20px 15px;
        font-family: "freight-sans-pro-1","freight-sans-pro-2",sans-serif;
        margin: 0;
        position: relative;
        left: 0;
        transition: border .3s, left .3s;
        box-shadow: none;

        &:hover {
            box-shadow: none; }

        &:before {
            margin-right: 25px; }
    }
}

.main-nav__about {
    width: 330px;
    position: absolute;
    bottom: 25px;
    left: 40px; }