html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style-type: none;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 62.5%;
  color: #fff;
  overflow-x: hidden;
}

body {
  background-color: #222222;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 66px 0 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

::selection {
  background: #202020;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #202020;
  color: #fff;
  text-shadow: none;
}

article p {
  margin-bottom: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#postContent > div, .sectionContainer {
  width: 53.333em;
  margin: 0 auto;
}

.sectionContainer {
  padding: 100px 0;
  line-height: 120%;
  overflow: hidden;
}

.mainNav {
  background-color: #222222;
  width: 100%;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.mainNav ul {
  width: 28.056em;
  margin: 0 auto;
  padding: 0.55556em 0;
  font: normal 1em/100% "Oswald", sans-serif;
  overflow: hidden;
}
.mainNav ul li {
  border: 1px solid #444444;
  border-left: none;
  float: left;
  width: 5.833em;
  padding: 0.27778em 0.55556em;
  overflow: hidden;
}
.mainNav ul li a {
  display: block;
  width: 100%;
  padding: 0.44444em 0;
  text-align: center;
  border-bottom: none;
  text-shadow: #2d2d2d -0.11111em 0.16667em 0;
}
.mainNav ul li a:hover {
  color: #fff;
}
.mainNav ul li:nth-child(4n) {
  border-right: none;
}
.mainNav ul li:nth-child(1) a:hover {
  background-color: #3d6993;
  -webkit-box-shadow: #294662 0 3px 0 0 inset, #294662 0 -3px 0 0 inset, #294662 3px 0 0 0 inset, #294662 -3px 0 0 0 inset;
  -moz-box-shadow: #294662 0 3px 0 0 inset, #294662 0 -3px 0 0 inset, #294662 3px 0 0 0 inset, #294662 -3px 0 0 0 inset;
  box-shadow: #294662 0 3px 0 0 inset, #294662 0 -3px 0 0 inset, #294662 3px 0 0 0 inset, #294662 -3px 0 0 0 inset;
  text-shadow: #33597c -2px 3px 0;
}
.mainNav ul li:nth-child(2) a:hover {
  background-color: #843c30;
  -webkit-box-shadow: #582820 0 3px 0 0 inset, #582820 0 -3px 0 0 inset, #582820 3px 0 0 0 inset, #582820 -3px 0 0 0 inset;
  -moz-box-shadow: #582820 0 3px 0 0 inset, #582820 0 -3px 0 0 inset, #582820 3px 0 0 0 inset, #582820 -3px 0 0 0 inset;
  box-shadow: #582820 0 3px 0 0 inset, #582820 0 -3px 0 0 inset, #582820 3px 0 0 0 inset, #582820 -3px 0 0 0 inset;
  text-shadow: #703328 -2px 3px 0;
}
.mainNav ul li:nth-child(3) a:hover {
  background-color: #3e6c3d;
  -webkit-box-shadow: #294829 0 3px 0 0 inset, #294829 0 -3px 0 0 inset, #294829 3px 0 0 0 inset, #294829 -3px 0 0 0 inset;
  -moz-box-shadow: #294829 0 3px 0 0 inset, #294829 0 -3px 0 0 inset, #294829 3px 0 0 0 inset, #294829 -3px 0 0 0 inset;
  box-shadow: #294829 0 3px 0 0 inset, #294829 0 -3px 0 0 inset, #294829 3px 0 0 0 inset, #294829 -3px 0 0 0 inset;
  text-shadow: #345b33 -2px 3px 0;
}
.mainNav ul li:nth-child(4) a:hover {
  background-color: #3c3c6b;
  -webkit-box-shadow: #282847 0 3px 0 0 inset, #282847 0 -3px 0 0 inset, #282847 3px 0 0 0 inset, #282847 -3px 0 0 0 inset;
  -moz-box-shadow: #282847 0 3px 0 0 inset, #282847 0 -3px 0 0 inset, #282847 3px 0 0 0 inset, #282847 -3px 0 0 0 inset;
  box-shadow: #282847 0 3px 0 0 inset, #282847 0 -3px 0 0 inset, #282847 3px 0 0 0 inset, #282847 -3px 0 0 0 inset;
  text-shadow: #33335a -2px 3px 0;
}

#post .sectionContainer {
  width: 100%;
  padding: 20px 0;
}
#post #postTitle {
  background-color: #b05140;
  padding: 44px 0 20px;
}
#post h1 {
  width: 50%;
  margin: 0 auto 0.75758em;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 125%;
  color: #fff;
  padding: 0.45455em 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #954436;
  text-shadow: #7e392d -0.09091em 0.12121em 0;
}
#post #postContent {
  background-color: #fff;
  font-weight: 300;
  color: #444;
}
#post #postContent a {
  color: #b05140;
}
#post #postContent b, #post #postContent strong {
  font-weight: normal;
}

#demo {
  background-color: #539052;
  text-shadow: #467a45 0.063em 0.125em 0;
}
#demo .sectionContainer {
  padding-top: 44px;
}
#demo h1 {
  width: 50%;
  margin: 0 auto 0.75758em;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 125%;
  color: #fff;
  padding: 0.45455em 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #467a45;
  text-shadow: #3b673a -0.09091em 0.12121em 0;
}

#front {
  background-color: #528cc5;
}
#front .sectionContainer {
  padding: 100px 0;
}

header {
  width: 30em;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
}
header h1 {
  text-shadow: #4577a7 -0.06667em 0.10667em 0;
  font-size: 4.16667em;
  line-height: 105%;
}
header h1 span {
  display: block;
  font-family: "Lobster", cursive;
  font-size: 0.73333em;
  font-style: normal;
  color: #202020;
  line-height: 110%;
  text-shadow: #4577a7 -0.05455em 0.05455em 0;
  position: relative;
  top: 10px;
}
header h2 {
  margin-top: 0.53571em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  line-height: 1.07143em;
  clear: both;
  text-shadow: #4577a7 -0.03571em 0.10714em 0;
}

.introBox {
  background-color: #497eb1;
  width: 100%;
  height: 2.77778em;
  margin: 1.11111em 0;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: #41709d 0 5px 0 0 inset, #41709d 0 -5px 0 0 inset, #41709d 5px 0 0 0 inset, #41709d -5px 0 0 0 inset;
  -moz-box-shadow: #41709d 0 5px 0 0 inset, #41709d 0 -5px 0 0 inset, #41709d 5px 0 0 0 inset, #41709d -5px 0 0 0 inset;
  box-shadow: #41709d 0 5px 0 0 inset, #41709d 0 -5px 0 0 inset, #41709d 5px 0 0 0 inset, #41709d -5px 0 0 0 inset;
}
.introBox li {
  display: block;
  width: 100%;
  margin: 0.53571em auto 0;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #202020;
  position: relative;
  text-shadow: #3e6b96 -0.07143em 0.10714em 0;
}
.introBox li li:nth-child(2n+1) {
  color: #cf968c;
}
.introBox li li:nth-child(2n) {
  color: #dbb0a9;
}
.introBox li span {
  margin-left: 0.09091em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #fff;
  position: relative;
  top: -5px;
  text-shadow: #3e6b96 -0.09091em 0.13636em 0;
}

#focusBox {
  width: 21.11111em;
}

#recent-posts {
  margin-bottom: 1.11111em;
}

#recent-posts, #recent-demos {
  background-color: #497eb1;
}
#recent-posts ul, #recent-demos ul {
  margin: 0;
  padding: 0.88889em;
  -webkit-box-shadow: #41709d 0 5px 0 0 inset, #41709d 0 -5px 0 0 inset, #41709d 5px 0 0 0 inset, #41709d -5px 0 0 0 inset;
  -moz-box-shadow: #41709d 0 5px 0 0 inset, #41709d 0 -5px 0 0 inset, #41709d 5px 0 0 0 inset, #41709d -5px 0 0 0 inset;
  box-shadow: #41709d 0 5px 0 0 inset, #41709d 0 -5px 0 0 inset, #41709d 5px 0 0 0 inset, #41709d -5px 0 0 0 inset;
}
#recent-posts ul li, #recent-demos ul li {
  text-shadow: #3a658d 0.063em 0.125em 0;
}
#recent-posts ul li:nth-child(2n+1), #recent-demos ul li:nth-child(2n+1) {
  background-color: #4577a7;
}
#recent-posts ul li:first-child, #recent-demos ul li:first-child {
  background-color: transparent;
  padding: 0 0.27778em;
}
#recent-posts ul li:not(:first-child), #recent-demos ul li:not(:first-child) {
  padding: 0.27778em 0.27778em;
}
#recent-posts ul h3, #recent-demos ul h3 {
  margin: 0 0 0.625em;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 110%;
  text-shadow: #3e6b96 -0.08333em 0.125em 0;
  text-transform: uppercase;
  color: #202020;
}

#about {
  background-color: #b05140;
  color: #fff;
  margin-bottom: 0.22222em;
  border-bottom: 5px dashed #843c30;
  overflow: hidden;
  text-shadow: #954436 0.063em 0.125em 0;
  -webkit-box-shadow: #b05140 0 10px 0 0;
  -moz-box-shadow: #b05140 0 10px 0 0;
  box-shadow: #b05140 0 10px 0 0;
}
#about h2 {
  width: 50%;
  margin: 0 auto 0.75758em;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 125%;
  color: #fff;
  padding: 0.45455em 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #954436;
  text-shadow: #7e392d -0.09091em 0.12121em 0;
}
#about h3 {
  margin: 0 0 0.46875em;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 110%;
  text-shadow: #954436 -0.09375em 0.125em 0;
  text-transform: uppercase;
  color: white;
}
#about div {
  width: 33.333em;
}
#about div section {
  width: 33.333em;
}
#about aside {
  width: 17.778em;
  display: block;
}
#about aside section {
  width: auto;
}
#about img {
  border: 15px solid #954436;
}
#about em {
  color: black;
}

.skillLists {
  width: 100%;
  overflow: hidden;
}
.skillLists ul {
  background-color: #9e4839;
}

.devSkills, .designSkills {
  width: 14.167em;
  /* 255px */
  margin: 0;
  padding: 0.88889em;
  -webkit-box-shadow: #8c4033 0 5px 0 0 inset, #8c4033 0 -5px 0 0 inset, #8c4033 5px 0 0 0 inset, #8c4033 -5px 0 0 0 inset;
  -moz-box-shadow: #8c4033 0 5px 0 0 inset, #8c4033 0 -5px 0 0 inset, #8c4033 5px 0 0 0 inset, #8c4033 -5px 0 0 0 inset;
  box-shadow: #8c4033 0 5px 0 0 inset, #8c4033 0 -5px 0 0 inset, #8c4033 5px 0 0 0 inset, #8c4033 -5px 0 0 0 inset;
}
.devSkills li, .designSkills li {
  text-shadow: #7e392d 0.063em 0.125em 0;
}
.devSkills li:nth-child(2n+1), .designSkills li:nth-child(2n+1) {
  background-color: #954436;
}
.devSkills li:first-child, .designSkills li:first-child {
  background-color: transparent;
  padding: 0 0.27778em;
}
.devSkills li:not(:first-child), .designSkills li:not(:first-child) {
  padding: 0.27778em 0.27778em;
}
.devSkills h4, .designSkills h4 {
  margin: 0 0 0.625em;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 110%;
  text-shadow: #863d30 -0.08333em 0.125em 0;
  text-transform: uppercase;
  color: #202020;
}

#work {
  background-color: #539052;
  color: #fff;
  text-shadow: #467a45 0.063em 0.125em 0;
  -webkit-box-shadow: #3a6439 0 0.625em 0 0;
  -moz-box-shadow: #3a6439 0 0.625em 0 0;
  box-shadow: #3a6439 0 0.625em 0 0;
}
#work h2 {
  width: 50%;
  margin: 0 auto 0.75758em;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 125%;
  color: #fff;
  padding: 0.45455em 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #467a45;
  text-shadow: #3b673a -0.09091em 0.12121em 0;
}
#work h3 {
  margin: 0 0 0.46875em;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 110%;
  text-shadow: #467a45 -0.09375em 0.125em 0;
  text-transform: uppercase;
  color: white;
}
#work section {
  margin-bottom: 1.250em;
  overflow: hidden;
}
#work img {
  width: 15.556em;
  border: 10px solid #467a45;
}

.workSlider {
  width: 100%;
  height: 12.222em;
  margin-top: 0.556em;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.workSlider .slider {
  width: 100%;
  height: 100%;
}
.workSlider .slider .slide {
  width: 16.667em;
  height: 11em;
  margin: 0 1.111em 1.111em 0;
  position: relative;
}

.scrollbarBlock1, .scrollbarBlock2 {
  background-color: #467a45;
}

.hoverBox {
  background-color: rgba(108, 160, 107, 0.8);
  display: none;
  width: 14.444em;
  height: 8.889em;
  padding: 0.556em;
  position: absolute;
  top: 10px;
  left: 10px;
}
.hoverBox h4 {
  margin: 0;
  margin: 0 0 0.625em;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 110%;
  text-shadow: #467a45 -0.08333em 0.125em 0;
  text-transform: uppercase;
  color: white;
}
.hoverBox ul {
  position: absolute;
  bottom: 10px;
  left: 5px;
}
.hoverBox ul li {
  width: auto;
  float: left;
  background-color: #467a45;
  margin: 0 0 0.278em 0.278em;
  padding: 0.111em 0.278em;
  text-shadow: #3b673a 0.056em 0.111em 0;
}

#contact {
  background-color: #51518f;
}
#contact h2 {
  width: 50%;
  margin: 0 auto 0.75758em;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 125%;
  color: #fff;
  padding: 0.45455em 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #444479;
  text-shadow: #393966 -0.09091em 0.12121em 0;
}
#contact h3 {
  margin: 0 0 0.46875em;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 110%;
  text-shadow: #444479 -0.09375em 0.125em 0;
  text-transform: uppercase;
  color: white;
}

footer {
  -webkit-box-shadow: #383864 0 10px 0 inset;
  -moz-box-shadow: #383864 0 10px 0 inset;
  box-shadow: #383864 0 10px 0 inset;
  text-shadow: #444479 0.056em 0.111em 0;
}
footer section {
  width: 26em;
}

.socialIcons {
  text-align: center;
  list-style: none outside none;
}
.socialIcons li a {
  background-color: #484880;
  width: 2.82609em;
  height: 1.73913em;
  margin-right: 0.65217em;
  padding-top: 1.08696em;
  font-size: 1.22222em;
  font-style: normal;
  font-weight: normal;
  float: left;
  text-shadow: #393966 -0.04348em 0.08696em 0;
  -webkit-box-shadow: #404072 0 0.21739em 0 0 inset, #404072 0 -0.21739em 0 0 inset, #404072 0.21739em 0 0 0 inset, #404072 -0.21739em 0 0 0 inset;
  -moz-box-shadow: #404072 0 0.21739em 0 0 inset, #404072 0 -0.21739em 0 0 inset, #404072 0.21739em 0 0 0 inset, #404072 -0.21739em 0 0 0 inset;
  box-shadow: #404072 0 0.21739em 0 0 inset, #404072 0 -0.21739em 0 0 inset, #404072 0.21739em 0 0 0 inset, #404072 -0.21739em 0 0 0 inset;
}
.socialIcons li a:hover {
  text-decoration: none;
  color: #fff;
}
.socialIcons li.facebook a:hover {
  background-color: #3b5998;
  -webkit-box-shadow: #2f4779 0 5px 0 0 inset, #2f4779 0 -5px 0 0 inset, #2f4779 5px 0 0 0 inset, #2f4779 -5px 0 0 0 inset;
  -moz-box-shadow: #2f4779 0 5px 0 0 inset, #2f4779 0 -5px 0 0 inset, #2f4779 5px 0 0 0 inset, #2f4779 -5px 0 0 0 inset;
  box-shadow: #2f4779 0 5px 0 0 inset, #2f4779 0 -5px 0 0 inset, #2f4779 5px 0 0 0 inset, #2f4779 -5px 0 0 0 inset;
  text-shadow: #2a3f6d -1px 2px 0;
}
.socialIcons li.twitter a:hover {
  background-color: #00aced;
  -webkit-box-shadow: #0089bd 0 5px 0 0 inset, #0089bd 0 -5px 0 0 inset, #0089bd 5px 0 0 0 inset, #0089bd -5px 0 0 0 inset;
  -moz-box-shadow: #0089bd 0 5px 0 0 inset, #0089bd 0 -5px 0 0 inset, #0089bd 5px 0 0 0 inset, #0089bd -5px 0 0 0 inset;
  box-shadow: #0089bd 0 5px 0 0 inset, #0089bd 0 -5px 0 0 inset, #0089bd 5px 0 0 0 inset, #0089bd -5px 0 0 0 inset;
  text-shadow: #007caa -1px 2px 0;
}
.socialIcons li.instagram a:hover {
  background-color: #a58e7c;
  -webkit-box-shadow: #847163 0 5px 0 0 inset, #847163 0 -5px 0 0 inset, #847163 5px 0 0 0 inset, #847163 -5px 0 0 0 inset;
  -moz-box-shadow: #847163 0 5px 0 0 inset, #847163 0 -5px 0 0 inset, #847163 5px 0 0 0 inset, #847163 -5px 0 0 0 inset;
  box-shadow: #847163 0 5px 0 0 inset, #847163 0 -5px 0 0 inset, #847163 5px 0 0 0 inset, #847163 -5px 0 0 0 inset;
  text-shadow: #776659 -1px 2px 0;
}
.socialIcons li.github a:hover {
  background-color: #495861;
  -webkit-box-shadow: #3a464d 0 5px 0 0 inset, #3a464d 0 -5px 0 0 inset, #3a464d 5px 0 0 0 inset, #3a464d -5px 0 0 0 inset;
  -moz-box-shadow: #3a464d 0 5px 0 0 inset, #3a464d 0 -5px 0 0 inset, #3a464d 5px 0 0 0 inset, #3a464d -5px 0 0 0 inset;
  box-shadow: #3a464d 0 5px 0 0 inset, #3a464d 0 -5px 0 0 inset, #3a464d 5px 0 0 0 inset, #3a464d -5px 0 0 0 inset;
  text-shadow: #343e45 -1px 2px 0;
}
.socialIcons li.dribbble a:hover {
  background-color: #ea4c88;
  -webkit-box-shadow: #bb3c6c 0 5px 0 0 inset, #bb3c6c 0 -5px 0 0 inset, #bb3c6c 5px 0 0 0 inset, #bb3c6c -5px 0 0 0 inset;
  -moz-box-shadow: #bb3c6c 0 5px 0 0 inset, #bb3c6c 0 -5px 0 0 inset, #bb3c6c 5px 0 0 0 inset, #bb3c6c -5px 0 0 0 inset;
  box-shadow: #bb3c6c 0 5px 0 0 inset, #bb3c6c 0 -5px 0 0 inset, #bb3c6c 5px 0 0 0 inset, #bb3c6c -5px 0 0 0 inset;
  text-shadow: #a83661 -1px 2px 0;
}
.socialIcons li.gplus a:hover {
  background-color: #d14428;
  -webkit-box-shadow: #a73620 0 5px 0 0 inset, #a73620 0 -5px 0 0 inset, #a73620 5px 0 0 0 inset, #a73620 -5px 0 0 0 inset;
  -moz-box-shadow: #a73620 0 5px 0 0 inset, #a73620 0 -5px 0 0 inset, #a73620 5px 0 0 0 inset, #a73620 -5px 0 0 0 inset;
  box-shadow: #a73620 0 5px 0 0 inset, #a73620 0 -5px 0 0 inset, #a73620 5px 0 0 0 inset, #a73620 -5px 0 0 0 inset;
  text-shadow: #96301c -1px 2px 0;
}
.socialIcons li.skype a:hover {
  background-color: #3abfef;
  -webkit-box-shadow: #2e98bf 0 5px 0 0 inset, #2e98bf 0 -5px 0 0 inset, #2e98bf 5px 0 0 0 inset, #2e98bf -5px 0 0 0 inset;
  -moz-box-shadow: #2e98bf 0 5px 0 0 inset, #2e98bf 0 -5px 0 0 inset, #2e98bf 5px 0 0 0 inset, #2e98bf -5px 0 0 0 inset;
  box-shadow: #2e98bf 0 5px 0 0 inset, #2e98bf 0 -5px 0 0 inset, #2e98bf 5px 0 0 0 inset, #2e98bf -5px 0 0 0 inset;
  text-shadow: #2989ac -1px 2px 0;
}
.socialIcons li.gmail a:hover {
  background-color: #d14130;
  -webkit-box-shadow: #a73426 0 5px 0 0 inset, #a73426 0 -5px 0 0 inset, #a73426 5px 0 0 0 inset, #a73426 -5px 0 0 0 inset;
  -moz-box-shadow: #a73426 0 5px 0 0 inset, #a73426 0 -5px 0 0 inset, #a73426 5px 0 0 0 inset, #a73426 -5px 0 0 0 inset;
  box-shadow: #a73426 0 5px 0 0 inset, #a73426 0 -5px 0 0 inset, #a73426 5px 0 0 0 inset, #a73426 -5px 0 0 0 inset;
  text-shadow: #962e22 -1px 2px 0;
}
