body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass File to import not found or unreadable: compass. \A Load path: \\Applications\\XAMPP\\xamppfiles\\htdocs\\portfolio\\assets\\css\\sass'; } 
                            
                            body * { 
                            display: none; 
                            } 