---
import { getArticles } from "@/ui/queries";

import { FeaturedList, ArticleList, Sidebar } from "@/ui/components";

import { RecentList } from "./RecentList";

const articles = await getArticles({ limit: 16 });

function extractFeatured(arr) {
  const featured = [];
  const remaining = [];

  for (let item of arr) {
    if (item.featured && featured.length < 5) {
      featured.push(item);
    } else {
      remaining.push(item);
    }
  }

  return { featured, remaining };
}

function extractCurrentMonth(arr) {
  const currentDate = new Date();
  const currentYear = currentDate.getUTCFullYear();
  const currentMonth = currentDate.getUTCMonth();

  const currentMonthItems = [];
  const otherItems = [];

  for (let item of arr) {
    const itemDate = new Date(item.publishedAt);

    if (
      itemDate.getUTCFullYear() === currentYear &&
      itemDate.getUTCMonth() === currentMonth
    ) {
      currentMonthItems.push(item);
    } else {
      otherItems.push(item);
    }
  }

  return { currentMonthItems, otherItems };
}

const { featured: featuredArticles, remaining } = extractFeatured(articles);

const { currentMonthItems: recentArticles, otherItems: remainingArticles } =
  extractCurrentMonth(remaining);
---

<FeaturedList articles={featuredArticles} />

<RecentList articles={recentArticles} />

<div class="container">
  <div class="content">
    <ArticleList
      itemsPerRow="2"
      articles={remainingArticles.slice(0, 8)}
      limit={null}
    />
  </div>

  <div class="sidebar">
    <Sidebar />
  </div>
</div>

<style lang="scss">
  .container {
    max-width: var(--widthMainContainer);
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media screen and (max-width: 79rem) {
      margin-right: 2rem;
      margin-left: 2rem;
      width: calc(100% - 4rem);
      gap: 1rem;
    }

    @media screen and (max-width: 62rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .content {
    grid-column: span 2;
    margin-top: -2rem;
  }
</style>
