---
layout: default
type: portfolio
---

<div id="portfolio">

    <div class="page__intro" style="background-image: url(/assets/images/headers/workIntro.png);">
        <div>
            <div class="wrapper">
                <h2>Portfolio</h2>
            </div>
        </div>
    </div>

    {% case site.catogories %}

        {% when dev %}
            <div id="dev" class="heading-wrapper">
                <h2 class="heading--lined heading--portfolio">
                    <span data-hover="HTML/(S)CSS, JS &amp; PHP">Development</span>
                </h2>
            </div>

            <div class="wrapper">

                <ul class="portfolio-items">
                    {% for post in site.categories.dev %}
                        <li class="{% if site.categories == dev %}dev-item{% endif %}">
                            <img src="{{ post.image }}" alt="{{ post.title }}" />

                            <div class="item-mask">
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.intro }}</p>
                                <a href="{{ post.url }}" title="{{ post.title }}">View Project</a>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
            </div>

        {% when design %}
            <div id="design" class="heading-wrapper">
                <h2 class="heading--lined heading--portfolio">
                    <span data-hover="Web design, UX and branding">Design</span>
                </h2>
            </div>

            <div class="wrapper">

                <ul class="portfolio-items">
                    {% for post in site.categories.design %}
                    <li>
                        <img src="{{ post.image }}" alt="{{ post.title }}" />

                        <div class="item-mask">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.intro }}</p>
                            <a href="{{ post.url }}" title="{{ post.title }}">View Project</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>


        {% when teaching %}
            <div id="teaching" class="heading-wrapper">
                <h2 class="heading--lined heading--portfolio">
                    <span data-hover="Education and community">Teaching</span>
                </h2>
            </div>

            <div class="wrapper">

                <ul class="portfolio-items">
                    {% for post in site.categories.teaching %}
                        <li>
                            <img src="{{ post.image }}" alt="{{ post.title }}" />

                            <div class="item-mask">
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.intro }}</p>
                                <a href="{{ post.url }}" title="{{ post.title }}">View Project</a>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        {% endcase %}
    </div>
</div>