//
//===============================================
//  $LINKS
//===============================================
//

a {
    color: inherit;
    text-decoration: underline;
    text-shadow: 0 0 2px #fff;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none; }
}


// ‘Current’ states, e.g.:
//
// <ul class=nav>
//     <li><a href=#>Home</a></li>
//     <li class=current><a href=#>About</a></li>
// </ul>
.current a {
    cursor: text;
    text-decoration: underline;
}
