//
//===============================================
//  $MAIN
//===============================================
//

html {
    -webkit-text-size-adjust: none;
    font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} serif;
    min-height: 100%;
    overflow-y: scroll; }

.portable-only {
    display: none !important;

    @include media-query(portable) {
        display: block !important; }
}