//
//===============================================
//  $SITE-NAV
//===============================================
//

.main-nav {
    background-color: rgba(0,0,0,.65);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color .5s;

    a {
        box-shadow: none; }

    > a {
        background-color: rgba(0,0,0,.45);
        display: none;
        height: 36px;
        width: 40px;
        padding: 8px;
        color: white;
        position: absolute;
        top: 30px;
        right: 50px;

        &:before, &:after, span {
            content: " ";
            display: block;
            width: 24px;
            background: white;
            height: 2px;
            position: absolute;
            left: 8px;
            transition: transform .3s; }

        &:before {
            top: 9px; }

        &:after {
            bottom: 9px; }

        span {
            bottom: 17px;
            opacity: 1;
            transition: opacity .3s; }
    }

    &.menu-open {
        transform: translate(-410px,0);

        > a {

            &:before {
                transform: translateY(8px) rotate(45deg); }

            &:after {
                transform: translateY(-8px) rotate(-45deg); }

            span {
                opacity: 0; }
        }
    }
}

.main-nav__content {
    width: 990px;
    color: white;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;

    h1, h3 {
        @include font-size(26px);

        font-family: $heading-font;
        color: white; }

    h1 {
        margin: 0 15px;
        line-height: 62px;
        text-transform: uppercase;
        float: left;
        transition: font-size .3s, line-height .3s;

        a {
            display: block;
            padding: 0 15px;
            transition: background .3s;

            &:hover {
                background: fade-out($brand-color, .65); }
        }
    }

    h3 {
        background: $black;
        padding: 0 15px;
        display: inline-block;
        z-index: 10;
        position: relative;
        margin: 0 0 0 15px; }

    p {
        color: $gray; }
}

.main-nav__heading {
    position: relative;
    margin: 25px 0;

    &:before {
        content: " ";
        background: white;
        height: 2px;
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        z-index: 1; }
}

.main-nav__menu {
    @include font-size(16px);

    list-style: none;
    margin: 0;
    float: right;

    li {
        margin: 0 15px;
        display: inline-block;
        transition: padding .3s; }

    a {
        background-color: transparent;
        display: block;
        padding: 19px 15px;
        color: white;
        font-family: $heading-font;
        margin: 0;
        transition: background-color .3s, padding .3s;

        &:hover {
            background-color: fade-out($brand-color, .65); }

        &:before {
            margin-right: 25px;
            transition: margin-right .3s; }

    }
}

@include media-query(desk) {
.main-nav.notTop {

    h1 {
        @include font-size(20px);

        line-height: 52px; }

    .main-nav__menu {
        @include font-size(15px);

        li {
            margin: 0 14px; }

        a {
            padding: 14px;

            &:before {
                margin-right: 15px; }
        }
    }

    &:hover {
        background-color: rgba(0,0,0, .65) !important;

        h1 {
        @include font-size(26px);

        line-height: 62px; }

        .main-nav__menu {
            @include font-size(16px);

            li {
                margin: 0 15px; }

            a {
                padding: 19px 15px;

                &:before {
                    margin-right: 25px; }
            }
        }

    }
}
}

@include media-query(portable) {
.main-nav {
    height: 100%;
    width: auto;
    position: fixed;
    right: 0;
    left: auto;
    transform: translate(0,0);
    transition: transform .3s;

    > a {
        display: block; }

    h1 {
        display: none; }
}

.main-nav__content {
    background: $black;
    height: 100%;
    width: 410px;
    padding: 0 40px;
    position: absolute;
    top: 0;

    h3 {
        color: white;
        font-size: 26px; }
}

.main-nav__menu {
    margin: 25px 0;
    float: none;

    li {
        margin: 0;
        display: block;
        border-top: 2px solid #bbb;

        &:first-of-type {
            border-top: none; }

        &:hover a {
            background-color: transparent; }
    }

    a {
        padding: 20px 15px;
        transition: border .3s; }
}
}

@include media-query(palm) {
.main-nav {

    > a {
        top: 20px;
        right: 20px; }

    &.menu-open {
        transform: translate(-240px,0); }
}

.main-nav__content {
    width: 240px;
    padding: 0 10px;
}

.main-nav__menu {
    margin: 10px 0 0;

    a {
        padding: 15px; }
}
}
