---
const { node } = Astro.props as {
  node: {
    children: {
      text: string;
    }[];
  };
};

const [child] = node.children;
---

<h3>
  {child.text}
</h3>

<style lang="scss">
  h3 {
    font-size: var(--fontSizeContentHeadingThree);
    font-family: var(--fontFamilyMontserrat);
    margin: 0 0 1rem;
  }
</style>
