#demos-page, #demo-single {
    @include flat-text-shadow($purple, 0.063em, 0.125em);
    background-color: $purple;

    h1 {
        @include section-title($purple); }
}

#demos-page {

    p {
        padding: 0 calc-em(26px); }

    ul {
        @include multi-box-shadow($purple, 20%, 5px);
        background-color: shade($purple, 10%); }

    li {
        @include flat-text-shadow(shade($purple, 15%), 0.063em, 0.125em);

        &:nth-child(2n) a { background-color: shade($purple, 20%); }
    }
}

#demo-single {

    #demo-title {
        padding: 44px 0 20px; }
}

#demo-area {
    background-color: #fff;
    width: 100%;
    color: #444;
    text-shadow: none;

    &.section-container {
        padding: 0; }

    #demo-wrapper {
        padding: 100px 0; }
}
