//----------------------
//  INTRO SECTION
//----------------------

.page--home .page__intro {
    background-image: url(/assets/images/headers/homeIntro.png);

    > div {
        background: rgba(82, 140, 197, .35); }

    h1 {
        line-height: 100%;
        color: #fff;
        padding-bottom: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        position: relative;

        &:after {
            content: " ";
            background: white;
            display: block;
            height: 2px;
            width: 250px;
            margin-left: -125px;
            position: absolute;
            left: 50%;
            bottom: 0; }
    }

    p {
        font-size: 21px;
        font-family: $body-font;
        margin: 0 auto; }
}


.feature-panel {
    background: url(/assets/images/headers/homeFeature.png) top center fixed #444 no-repeat;
    background-size: cover;

    .panel__cover {
        padding: 60px 0; }
}

.panel__title {
    text-align: center;

    h3 {
        display: inline-block;
        padding: 10px 15px;
        background: #fbc70f;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        margin:0;
        color: white; }

    a {
        box-shadow: none;

        &:hover {
            box-shadow: none; }
    }
}

.page--home {

    .work-panel .heading-wrapper {
        margin-bottom: 60px; }

    .credits-panel {
        background: $blue; }
}