.page--posts, .page--post {

    .page__intro  > div {
            background-color: rgba(176, 81, 64, .35); }

    .credits-panel {
        background-color: $red; }
}


#post-single {
    background-color: $red;

    #post-title {
      padding: 44px 0 20px; }

}

#post-content {
    background-color: #fff;
    width: 100%;
    font-weight: 300;
    color: #444;

    a {
        font-weight: 400;
        color: $red; }

    b,strong {
        font-weight: normal }

    img {

        &.fr {
            margin: 0 0 14px 24px; }

        &.fl {
            margin: 0 24px 14px 0; }
    }
}
