//
//===============================================
//  $CODE
//===============================================
//

code {
    padding: .25rem .5rem;
    position: relative;
    top: -2px;
    white-space: nowrap;
    border-radius: .25rem;
    background-color: $black;
    font-size: 75%;
    font-family: $code-font;
    color: #fff;
}

pre{
    overflow:auto;

    mark{
        background:none;
        border-bottom:1px solid;
        color:inherit; }
}

// Add comments to your code examples, e.g.:
//
// <code>&lt;/div&gt;<span class=code-comment>&lt;!-- /wrapper --&gt;</span></code>

.code-comment{
    opacity:0.75;
    filter:alpha(opacity=75); }
