//
//===============================================
//  $LINKS
//===============================================
//

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
        text-shadow: 0 0 2px white; }
}


// ‘Current’ states, e.g.:
//
// <ul class=nav>
//     <li><a href=#>Home</a></li>
//     <li class=current><a href=#>About</a></li>
// </ul>
.current a{
    cursor:text;
    text-decoration:underline;
}