//
//===============================================
//  $CODE
//===============================================
//

code {
    background-color: $black;
    border-radius: .25rem;
    color: #fff;
    font-family: $code-font;
    font-size: 75%;
    padding: .15rem .25rem;
    position: relative;
    top: -2px;
    white-space: nowrap;
}

pre {
    overflow: auto;

    mark {
        background: none;
        border-bottom: 1px solid;
        color: inherit; }
}

// Add comments to your code examples, e.g.:
//
// <code>&lt;/div&gt;<span class=code-comment>&lt;!-- /wrapper --&gt;</span></code>

.code-comment {
    filter: alpha(opacity=75);
    opacity: .75; }
