//
//===============================================
//  $QUOTES
//===============================================
//

q {
    quotes: '‘' '’' '“' '”';

    &:before {
        content: '‘';
        content: open-quote; }

    &:after {
        content: '’';
        content: close-quote; }

    q {

        &:before {
            content: '“';
            content: open-quote; }

        &:after {
            content: '”';
            content: close-quote; }
    }
}

blockquote {
    quotes: '“' '”';
    text-indent: -.4em;

    p {

        &:before {
            content: '“';
            content: open-quote; }

        &:after {
            content: '';
            content: no-close-quote; }

        &:last-of-type {
            margin-bottom: 0;

            &:after {
                content: '”';
                content: close-quote; }
        }
    }
}

.source {
    display: block;
    text-indent: 0;

    &:before {
        content: '—'; }
}
