<!DOCTYPE HTML>
<!--
=================================================
  The sexy portfolio site for Thomas Sturge

  Author: Thomas Sturge / Arrowhead Desgin
  Version: 2.5
  URL: http://tomsturge.co.uk/
=================================================
-->

<html class="page"
      xmlns:og="http://ogp.me/ns#" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml" >
<head>

<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, height=device-height" />
<meta name="keywords"
      content="Web, Design, Website, Designer, Developer" />
<meta name="description"
      content="Thomas Sturge. Web designer, front-end and back-end developer." />

{% include facebook-head.html %}
{% include twitter-head.html %}

<link rel="shortcut icon" href="/icon.png">
<link rel="apple-touch-icon-precomposed" href="/icon.png">

<title>{% if page.type == 'post' %}{{ page.title }} - {% endif %}Thomas Sturge // Designer + Developer</title>

<!-- Typekit Fonts -->
<script type="text/javascript" src="//use.typekit.net/sok1fkn.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Icons font -->
<link href="/assets/fonts/ss-social-regular.css" rel="stylesheet"
      type="text/css" media="all">

<!-- Global stylesheet -->
<link href="/assets/css/screen.css" rel="stylesheet" type="text/css"
      media="all">
</head>

<body>

<div>
{% include nav.html %}

{% case page.type %}

{% when 'home' %}

    <div class="intro-panel">
        {{ content }}
    </div>

    <div class="post-panel">
        <div class="wrapper">
            <div class="post-list post-list--home">
                <ul>
                    {% for post in site.categories.post limit:3 %}
                        <li class="post-list__post">
                            <a href="{{ post.url }}" title="{{ post.title }}">
                              <h2 class="post-list__title">{{ post.title }}</h2>
                              <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
                                {{ post.date | date: "%d %b, %Y" }}
                              </time>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.post-box -->
        </div>
    </div>

{% when 'posts' %}

    <div id="posts-page">
        {{ content }}
    </div>

{% when 'post' %}

    <div id="post-single">
        {{ content }}
    </div>

    {% include social.html %}

{% when 'demos' %}

    <div id="demos-page">
        {{ content }}
    </div>

{% when 'demo' %}

    <div id="demo-single">
        {{ content }}
    </div>

{% when 'work-single' %}

    <div id="work-single">
        {{ content }}
    </div>

    {% include contact.html %}

{% when 'work-page' %}

    <div id="work-page">
        {{ content }}
    </div>

{% when 'work-category' %}

    <div id="work-category">
        {{ content }}
    </div>

{% endcase %}
</div>

<div class="credits-panel">
    <div class="wrapper">
        <p class="no-margin">
            &copy; {{ site.time | date: '%Y' }} <a href="http://twitter.com/tomsturge" title="Twitter - Tomsturge">Thomas Sturge</a>. Built with <a href="http://jekyllrb.com/" title="Jekyll">Jekyll</a> and <a href="https://github.com/tomsturge/tomsturge.github.com" title="Github">hosted on GitHub</a>.
        </p>
    </div>
    <!-- /.wrapper -->
</div>
<!-- /.credits-panel -->

</body>
</html>