<!DOCTYPE HTML>
<!--
=================================================
  The sexy portfolio site for Thomas Sturge

  Author: Thomas Sturge / Arrowhead Desgin
  Version: 2.5
  URL: http://tomsturge.co.uk/
=================================================
-->

<html class="page"
      xmlns:og="http://ogp.me/ns#" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml" >
<head>

<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, height=device-height" />
<meta name="keywords"
      content="Web, Design, Website, Designer, Developer" />
<meta name="description"
      content="Thomas Sturge. Web designer, front-end and back-end developer." />

<!-- Icons font -->
<link href="/assets/fonts/ss-social-regular.css" rel="stylesheet"
      type="text/css" media="all">

<!-- Global stylesheet -->
<link href="/assets/css/screen.css" rel="stylesheet" type="text/css"
      media="all">

{% include facebook-head.html %}
{% include twitter-head.html %}

<link rel="shortcut icon" href="/icon.png">
<link rel="apple-touch-icon-precomposed" href="/icon.png">

<title>{% if page.type == 'post' %}{{ page.title }} - {% endif %}Thomas Sturge // Designer + Developer</title>

<!-- Typekit Fonts -->
<script type="text/javascript" src="//use.typekit.net/sok1fkn.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body class="page--{{page.type}}">

{% include nav.html %}

<div class="container">

    {{ content }}

    {% include credits.html %}

</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/init.min.js"></script>

{% include analytics.html %}

</body>
</html>