<!DOCTYPE HTML>
<!--
===============================================================================
  The sexy portfolio site for Me, Thomas Sturge

  Author: Thomas Sturge / Arrowhead Desgin
  Version: 2.1
  URL: http://tomsturge.co.uk/
===============================================================================
-->

<html class="page  {{ page.page-class }}"
      xmlns:og="http://ogp.me/ns#" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height,
                                user-scalable=no" />
  <meta name="keywords"
        content="Web, Design, Website, Designer, Developer, Thanet, Kent" />
  <meta name="description"
        content="The portfolio of Thomas Sturge, a twenty something designer and developer from the  coastal town of Margate, Kent." />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <!--
    Facebook SocialGraph meta settings for those nice looking site previews
  -->
  <meta property="og:title" content="Thomas Sturge" />
  <meta property="og:url" content="http://tomsturge.co.uk/" />
  <meta property="og:site_name" content="Thomas Sturge" />
  <meta property="og:image"
        content="http://tomsturge.github.com/og_image.jpg"/>
  <meta property="og:description"
        content="The portfolio of Thomas Sturge, a twenty something designer and developer from the  coastal town of Margate, Kent."/>
  <meta property="og:type" content="website"/>

  <title>{{ page.title }} of Thomas Sturge</title>

  <!-- Loading jQuery and plugins -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="assets/scripts/modernizr.js"></script>

  <!-- Global stylesheet -->
  <link rel="stylesheet" type="text/css" href="assets/css/screen.css" media="all">

</head>
<body>
  <nav class="mainNav">
    <ul class="menu">
      <li><a href="#front" class="scroll">Home</a></li>
      <li><a href="#about" class="scroll">About</a></li>
      <li><a href="#work" class="scroll">Work</a></li>
      <li><a href="#contact" class="scroll">Contact</a></li>
    </ul>
  </nav>


  <div id="front" class="cover">
    {{ content }}
  </div>

  {% include about.html %}

  {% include work.html %}

  {% include contact.html %}

  <!-- jQuery plugin that aren't function critical -->
  <script type="text/javascript" src="assets/scripts/cycle.js"></script>
  <script type="text/javascript" src="assets/scripts/iosslider.js"></script>
  <script type="text/javascript" src="assets/scripts/scrollTo.js"></script>

  <!-- Site scripts -->
  <script type="text/javascript" src="assets/scripts/init.js"></script>

</body>
</html>
