---
layout: default
type: post
---


<div id="post-single">

    <div class="page__intro" style="background-image: url(/assets/images/headers/posts/{{ page.header }});">
        <div>
            <div class="wrapper">
                <time datetime="{{ page.date | date: "%Y-%m" }}">
                    {{ page.date | date: "%b, %Y" }}
                </time>

                <h2>{{ page.title }}</h2>
        	</div>
        </div>
    </div>


    <article>
    	<section id="post-content">
    		<div class="wrapper">
    	  	    {{ content }}
    	    </div>
    	</section>
    </article>
</div>