h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre, .page-head, .media, .island, .islet {
    margin-bottom: 12px; }

body {
    padding: 50px 0 0; }

.main-nav {
    $base-size: 14px;

    ul {
        width: 22.858em;
        margin: 0 auto; padding: 0;
        font: normal #{calc-em($base-size)}/100% $heading-font; }

    li {
      width: 5.661em;
      padding: 0;

        a {
          padding: calc-em(17px, $base-size) 0; }
    }
}

#intro .section-container {
    padding: 22px 0; }

#social .section-container {
    padding: 12px 0 22px; }

.section-container {
    width: 17.223em;
    padding: 22px 0; }

#post-content > div,
#demo-title > div {
    width: 17.223em;
    padding: 6px 0; }

header {
    width: 100%;

    h1 {
        font-size: 2.8em;

        span {
            top: 0; }
    }

    h2 {
        font-size: 1.05em; }
}
.intro-box {
    display: none; }

#focus-box {
    width: 100%;
    margin: 12px 0 0; }

#recent-posts, #recent-demos {

    h3 {
        @include big-title(shade($blue, 10%), -2px, 3px, 22px, $black); }
}

#about {

    aside {
        display: none; }
}

.skill-lists ul {
    width: 89%; }

.dev-skills {
    margin-bottom: calc-em(12px); }

footer section {
    width: 100%;
    margin: 0 0 12px; }

.social-icons {

    a {
        margin-bottom: calc-em(14px); }
}

.archive-list {

    h2 {
        width: 100%; }

    time {
        float: left; }
}

#demo-single #demo-title,
#post-single #post-title {
    padding: 26px 0 12px; }

#post-single h1, #demo-single h1 {
    width: auto; }

#post-content {

    img {
        margin-bottom: 12px;
        border: 5px solid $red;
        float: none; }
}

.comments {
    width: 100%; }

.share {
    width: 100%; }