h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre, .page-head, .media, .island, .islet {
margin-bottom: 12px;
}

body { padding: 50px 0 0; }

.mainNav {
  $baseSize: 14px;
    ul {
      width: 22.858em;
      margin: 0 auto; padding: 0;
      font: normal #{calcEm($baseSize)}/100% $headingFont;
    }
    li {
      width: 5.661em;
      padding: 0;
        a {
          padding: calcEm(17px, $baseSize) 0;
        }
    }
}

#intro .sectionContainer { padding: 22px 0; }
#social .sectionContainer { padding: 12px 0 22px; }

.sectionContainer {
  width: 17.223em;
  padding: 22px 0;
}
#postContent > div, 
#demoTitle > div {
  width: 17.223em;
  padding: 6px 0;
}

header { 
  width: 100%; 
    h1 { 
      font-size: 2.8em; 
        span { top: 0; }
    }
    h2 { font-size: 1.05em; }
}
.introBox { display: none; }

#focusBox { 
  width: 100%;
  margin: 12px 0 0; 
}
#recent-posts, #recent-demos { 
    h3 { 
      @include bigTitle(shade($blue, 10%), -2px, 3px, 22px, $black); }
}

#about {
      aside { display: none; }
}

.skillLists ul { width: 89%; }
.devSkills { margin-bottom: calcEm(12px); }

footer section { 
  width: 100%; 
  margin: 0 0 12px; 
}

.socialIcons {
    a { margin-bottom: calcEm(14px); }
}

.archiveList {
    h2 { width: 100%; }
    time { float: left; }
}

#demo #demoTitle,
#post #postTitle { padding: 12px 0; }

#postContent { 
    img { 
      margin-bottom: 12px;
      border: 5px solid $red;
      float: none; 
    }
} 

.comments { width: 100%; }
.share { width: 100%; }