//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//

.sectionContainer {
  width: 32.222em !important; // 580px
  padding: 100px 0;
}

.mainNav {
  $baseSize: 18px;
    ul {
      width: 28.056em;
      padding: calcEm(10px, $baseSize) 0;
      font: normal #{calcEm($baseSize)}/100% $headingFont;
        li {
          width: 5.833em;
          padding: calcEm(5px, $baseSize) calcEm(10px, $baseSize);
            a {
              padding: calcEm(8px, $baseSize) 0;
              @include flatTextShadow(tint($black, 10%), calcEm(-2px, $baseSize), calcEm(3px, $baseSize));
            }
        }
    }
}


header {
  width: 100%;
  margin: calcEm(-78px) 0 0 0; padding: 0 0 calcEm(30px);
  position: absolute;
  top: 50%;
    h1 {
      $baseSize: 90px;
      width: calcEm(580px, $baseSize);
      padding: calcEm(68px, $baseSize) 0 calcEm(25px, $baseSize);
        em {
          $baseSize: 65px;
          font: {
            size: calcEm($baseSize, 90px);
            family: $cursiveFont;
          }
          line-height: 110%;
          position: absolute;
          top: 0; left: calcEm(10px, $baseSize);
        }
    }
}

#about {
    article {
      width: 100%;
        section {
          width: 20em;
          float: left;
        }
    }
}

//*****************
//  7.1 SKILL LISTS
//*****************


.skillLists {
  width: 11.667em !important;
  float: right !important;
}

.devSkills, .designSkills {
  width: 9.222em;
}

footer {
  section { width: 32.222em;}
}

.socialIcons {
    li {
      a {
        $baseSize: 22px;
        margin-right: calcEm(25px, $baseSize);
      }
    }
}