//
//=============================================================================
//  The sexy portfolio site for Me, Thomas Sturge
//
//  Author: Thomas Sturge / Arrowhead Desgin
//  Version: 2.1
//  URL: http://tomsturge.co.uk/
//=============================================================================
//


header {
}

#about {
  h3 { @include bigTitle($red, -3px, 4px); }
  div {
    width: 33.333em;
    float: left;
      section {
        width: 33.333em;
        float: none;
      }
  }
  aside {
    width: 17.778em;
    display: block;
    float: right;
      section {
        width: auto;
      }
  }
}

//*****************
//  7.1 SKILL LISTS
//*****************

.skillLists {
  width: 100%;
}

.devSkills, .designSkills {
  width: 14.167em;
  margin: 0;
}

.devSkills {
  float: left;
}
.designSkills {
  float: right;
}

#work {
    img { width: 16.111em; }
}

.workSlider {
  height: 12.667em;
  margin-top: 1.111em;
    .slide {
    }
}

.hoverBox {
  width: 15em;
  height: 9.167em;
}


#contact {
    h3 { @include bigTitle($purple, -3px, 4px); }
}

footer {
  section { width: 25em; }
}

.contactEmail { float: left; }
.contactNet { float: right; }