---
const { node } = Astro.props as {
  node: {
    children: {
      text: string;
    }[];
  };
};

const [child] = node.children;
---

<h3
  id={`${child.text
    .replace(/([a-z])([A-Z])/g, "$1-$2")
    .replace(/[\s_:]+/g, "-")
    .toLowerCase()}`}
>
  {child.text}
</h3>

<style lang="scss">
  h3 {
    font-size: var(--fontSizeContentHeadingThree);
    font-family: var(--fontFamilyMontserrat);
    margin: 0 0 1rem;
  }
</style>
